@charset "UTF-8";
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  font-family: 'Orbitron 700', sans-serif;
  background: url("../assets/bg-main.png");
  background-size: cover;
  overflow-x: hidden; }

.body-active {
  overflow: hidden; }

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

button {
  cursor: pointer;
  color: #ffffff;
  border: none; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  color: #ffffff; }

/* orbitron-700 - latin */
@font-face {
  font-family: 'Orbitron 700';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/orbitron-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/orbitron-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/orbitron-v25-latin-700.woff2") format("woff2"), url("../fonts/orbitron-v25-latin-700.woff") format("woff"), url("../fonts/orbitron-v25-latin-700.ttf") format("truetype"), url("../fonts/orbitron-v25-latin-700.svg#Orbitron") format("svg");
  /* Legacy iOS */ }
/* league-spartan-600 - latin */
@font-face {
  font-family: 'League Spartan 600';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/league-spartan-v6-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/league-spartan-v6-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/league-spartan-v6-latin-600.woff2") format("woff2"), url("../fonts/league-spartan-v6-latin-600.woff") format("woff"), url("../fonts/league-spartan-v6-latin-600.ttf") format("truetype"), url("../fonts/league-spartan-v6-latin-600.svg#LeagueSpartan") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Spartan';
  src: url("../fonts/spartan.ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 600; }
/* lato-regular - latin */
@font-face {
  font-family: 'Lato 600';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lato-v23-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff"), url("../fonts/lato-v23-latin-regular.ttf") format("truetype"), url("../fonts/lato-v23-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }
/* rajdhani-500 - latin */
@font-face {
  font-family: 'Rajdhani 500';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rajdhani-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-500.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-500.woff") format("woff"), url("../fonts/rajdhani-v15-latin-500.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-500.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* rajdhani-regular - latin */
@font-face {
  font-family: 'Rajdhani 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rajdhani-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-regular.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-regular.woff") format("woff"), url("../fonts/rajdhani-v15-latin-regular.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-regular.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* rajdhani-600 - latin */
@font-face {
  font-family: 'Rajdhani 600';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rajdhani-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-600.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-600.woff") format("woff"), url("../fonts/rajdhani-v15-latin-600.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-600.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* rajdhani-700 - latin */
@font-face {
  font-family: 'Rajdhani 700';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rajdhani-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-700.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-700.woff") format("woff"), url("../fonts/rajdhani-v15-latin-700.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-700.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* aldrich-regular - latin */
@font-face {
  font-family: 'Aldrich 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aldrich-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/aldrich-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/aldrich-v17-latin-regular.woff2") format("woff2"), url("../fonts/aldrich-v17-latin-regular.woff") format("woff"), url("../fonts/aldrich-v17-latin-regular.ttf") format("truetype"), url("../fonts/aldrich-v17-latin-regular.svg#Aldrich") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Alethia Next 300';
  /* not found font weight 400 */
  src: url("../fonts/AlethiaNext-Light.eot");
  src: local(""), url("../fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlethiaNext-Light.woff2") format("woff2"), url("../fonts/AlethiaNext-Light.woff") format("woff"), url("../fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto 500';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* inter-regular - latin */
@font-face {
  font-family: 'Inter 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg");
  /* Legacy iOS */ }
/* inter-500 - latin */
@font-face {
  font-family: 'Inter 500';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter-v12-latin-500.woff") format("woff"), url("../fonts/inter-v12-latin-500.ttf") format("truetype"), url("../fonts/inter-v12-latin-500.svg#Inter") format("svg");
  /* Legacy iOS */ }
/* inter-800 - latin */
@font-face {
  font-family: 'Inter 800';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v12-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-800.woff2") format("woff2"), url("../fonts/inter-v12-latin-800.woff") format("woff"), url("../fonts/inter-v12-latin-800.ttf") format("truetype"), url("../fonts/inter-v12-latin-800.svg#Inter") format("svg");
  /* Legacy iOS */ }
/* museomoderno-regular - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/museomoderno-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/museomoderno-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/museomoderno-v22-latin-regular.woff2") format("woff2"), url("../fonts/museomoderno-v22-latin-regular.woff") format("woff"), url("../fonts/museomoderno-v22-latin-regular.ttf") format("truetype"), url("../fonts/museomoderno-v22-latin-regular.svg#MuseoModerno") format("svg");
  /* Legacy iOS */ }
.burger-menu {
  display: none;
  width: 20.71px;
  height: 17px;
  position: relative;
  z-index: 6;
  right: 14px;
  top: 13px; }
  .burger-menu__item {
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 50%; }

.first {
  position: absolute;
  top: 0;
  right: 0;
  transition: all .4s; }

.second {
  position: absolute;
  top: 50%;
  right: 0;
  width: 52%;
  transform: translateY(-50%); }

.third {
  position: absolute;
  bottom: 0;
  transition: all .4s; }

.burger-menu_active > .first {
  top: 50%;
  transform: rotate(45deg); }

.burger-menu_active > .second {
  display: none; }

.burger-menu_active > .third {
  top: 50%;
  transform: rotate(-45deg); }

@media (max-width: 940px) {
  .burger-menu {
    display: block; } }
.title-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 26.53px; }
  .title-block h2 {
    font-size: 26.53px; }

.view-all {
  margin-right: 81px;
  position: relative; }
  .view-all:after {
    content: url("../assets/slider1/arrow-right.svg");
    position: absolute;
    right: -60%; }

.btn {
  width: 240px;
  height: 55px;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 19.9px;
  background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  border: 3.12px solid transparent;
  border-image: linear-gradient(to left, #ffa6fa, #3c79d4) 1; }

.btn-mr {
  margin-right: -8.5px; }

.box-shadow {
  box-shadow: 0 4.45px 107px rgba(255, 86, 246, 0.5); }

.wrapper-explore-all {
  transform: translateX(9.4px); }

.view-all {
  cursor: pointer; }

@media (max-width: 640px) {
  .btn {
    width: 166px;
    height: 40px;
    font-size: 13.78px; } }
.header {
  padding: 48px 111px 0 109px;
  min-height: 195px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.navigation, .menu, .user-desktop, .user-mobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.navigation {
  width: 800px; }

.logо {
  width: 140.17px;
  height: 29.42px;
  background: url("../assets/header/logo.svg") no-repeat;
  position: relative;
  left: 2px;
  top: 2px;
  z-index: 5; }

.menu__li {
  margin-right: 66px; }
  .menu__li:last-child {
    margin-right: 0; }

.menu__link {
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  opacity: 60%; }

.user-desktop {
  width: 93px;
  margin-top: 6px; }

.user-mobile {
  display: none;
  width: 93px;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .header {
    padding: 48px 50px 0 50px; }

  .navigation {
    width: 650px; }

  .menu__li {
    margin-right: 46px; }

  .user-desktop {
    width: 70px; } }
@media (max-width: 940px) {
  .header {
    padding: 15px 15px 0 15px;
    min-height: 90px; }

  .navbar {
    position: fixed;
    background: #20083b;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    transform: translateX(100%);
    transition: transform .5s; }

  .navigation {
    width: auto; }

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 70px; }
    .menu__li {
      margin-right: 0; }

  .user-desktop {
    display: none; }

  .user-mobile {
    display: flex; }

  .logо {
    background: url("../assets/header/logo-mob.png") no-repeat;
    left: 7px;
    top: 8px; } }
.navbar-active {
  transform: translateX(0); }

.hero {
  width: 100%;
  padding: 0 111px 0 101px; }

.promo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

h1 {
  max-width: 770px;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 66.13px;
  line-height: 91.13px;
  color: #ffffff;
  margin: 0 0 0 3.1px;
  letter-spacing: 0.15px; }
  h1 span {
    background: -webkit-linear-gradient(140deg, #43a5e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.descr {
  max-width: 650px;
  font-family: 'Rajdhani 400', sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 44px;
  margin: 20.2px 0 40px 1.8px;
  letter-spacing: 1px; }

.btn-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap; }
  .btn-block span {
    background: -webkit-linear-gradient(140deg, #42a6e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21.6px;
    margin-left: 35.4px; }

.wrapper-btn-hero {
  width: 255px;
  height: 69.3px;
  border-radius: 6px;
  padding: 2.88px;
  clip-path: polygon(0% 30.8%, 17.9% 0%, 100% 0%, 100% 0%, 100% 74%, 86.6% 100%, 0% 100%, 0 100%);
  background: linear-gradient(90deg, #FFA6FA 20%, #3C79D4 50%); }

.btn-hero {
  clip-path: polygon(0% 30.8%, 17.9% 0%, 100% 0%, 100% 0%, 100% 74%, 86.6% 100%, 0% 100%, 0 100%);
  background: linear-gradient(270deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  color: #ffffff;
  padding-left: 65px;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  .btn-hero div {
    position: relative;
    font-size: 19.9px;
    line-height: 24.95px;
    padding-top: 3.5px;
    letter-spacing: 0.1px; }
    .btn-hero div:after {
      content: url("../assets/hero/arrow-big-promo.svg");
      width: 51px;
      margin-left: 13px;
      position: absolute;
      top: 19.5%; }

.statistics {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 68.7px; }
  .statistics__item {
    padding-left: 42px;
    padding-right: 19.4px;
    border-right: 1px solid rgba(255, 255, 255, 0.26); }
    .statistics__item:first-child {
      padding-left: 1px;
      padding-right: 18.4px; }
    .statistics__item:last-child {
      padding-right: 0;
      border-right: none; }
    .statistics__item_modify .digit,
    .statistics__item_modify .text {
      transform: translate(-5px, 0px); }
  .statistics .digit {
    font-family: 'Aldrich 400', sans-serif;
    font-size: 40px; }
  .statistics .text {
    font-family: 'Alethia Next 300', sans-serif;
    font-size: 16px;
    margin-top: 1.5px;
    margin-left: 1.6px; }

@media (max-width: 1200px) {
  .hero {
    padding: 48px 50px 0 50px; } }
@media (max-width: 1000px) {
  .promo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }

  h1 {
    max-width: none;
    font-size: 60px;
    line-height: 92px;
    letter-spacing: 2px; }

  .statistics .digit {
    font-size: 30px; } }
@media (max-width: 940px) {
  .hero {
    padding: 15px 15px 0 15px; } }
@media (max-width: 700px) {
  h1 {
    font-family: "Lato 600", sans-serif;
    line-height: 57.71px;
    font-size: 42px;
    letter-spacing: -1.9px;
    margin: 0; }

  .descr {
    max-width: none;
    font-size: 20px;
    line-height: 35px;
    margin: 17px 0 42px;
    letter-spacing: normal; }

  .wrapper-btn-hero {
    width: 135.6px;
    height: 36.1px; }

  .btn-hero {
    padding-left: 26.3px;
    padding-bottom: 5px; }
    .btn-hero div {
      position: relative;
      font-size: 12px;
      line-height: 15.05px;
      letter-spacing: normal; }
      .btn-hero div:after {
        content: url(../assets/hero/arrow-little-promo.svg);
        margin: 1.6px 0 4.2px -3.1px; }

  .btn-block span {
    font-size: 12px;
    margin-bottom: 7px; }

  .statistics .digit {
    font-family: 'Aldrich 400', sans-serif;
    font-size: 18px; }
  .statistics .text {
    font-family: 'Alethia Next 300', sans-serif;
    font-size: 12px;
    margin-top: 6px; } }
@media (max-width: 375px) {
  h1 {
    max-width: 290px;
    margin: 1px 0 0 0; }

  .promo-text {
    margin-left: 18px; }

  .descr {
    margin: 25.7px 0 32.5px 0.1px;
    font-size: 14px;
    line-height: 23.22px;
    transform: translateX(-1.1px); }

  .wrapper-btn-hero {
    margin-left: -3px; }

  .btn-block span {
    margin-left: 20.1px;
    margin-bottom: 4.4px; }

  .statistics {
    margin-top: 44.3px; }
    .statistics__item:first-child {
      transform: translate(-3.6px, 0px); }
    .statistics__item_modify .digit,
    .statistics__item_modify .text {
      transform: translate(1px, 0px); } }
.blockchain {
  margin-top: 125.1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap; }
  .blockchain img {
    margin: 0 0 20px 9px; }
  .blockchain .eth {
    transform: translate(-0.7px, 3px); }
  .blockchain .blockchain {
    transform: translate(-0.1px, 1.7px); }

.blockchain-modile {
  display: none;
  max-width: 308px;
  margin-top: 39.9px; }
  .blockchain-modile .blackchain-binance {
    margin-bottom: 31.3px;
    margin-left: -1px; }
  .blockchain-modile .blackchain-ethereum {
    margin-bottom: 30px;
    margin-right: 17.6px; }
  .blockchain-modile .blackchain-blockchain {
    margin-left: -12.8px; }

@media (max-width: 1000px) {
  .blockchain {
    display: none; }

  .blockchain-modile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; } }
.promo-banner {
  position: relative;
  margin-top: 11px;
  margin-left: 9.5%;
  min-width: 403px;
  min-height: 480px;
  color: #ffffff; }

.hero-descr {
  width: 336.06px;
  height: 181.3px;
  background: url("../assets/hero/hero-promo-bg.png") no-repeat;
  position: absolute;
  bottom: -64px;
  right: -88.4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 36px 19.1px 0 24px; }

.img-banner {
  background: url("../assets/hero/hero-promo.png") no-repeat;
  width: 401.28px;
  height: 477.33px;
  margin: 2.9px 0 0 -4px; }

.hero-left-block-title {
  font-family: 'Rajdhani 700', sans-serif;
  font-size: 17.69px; }
.hero-left-block .email, .hero-left-block .price {
  font-family: 'Rajdhani 600', sans-serif; }
.hero-left-block .email {
  margin-top: 9.2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  .hero-left-block .email span {
    margin: 0 2.9px 0 0.4px; }
.hero-left-block .price {
  margin-top: 20.8px;
  margin-bottom: 4.3px; }
.hero-left-block .price, .hero-left-block .eth-dollars {
  opacity: 70%;
  font-size: 11.05px; }
.hero-left-block .eth {
  transform: translate(0px, -1.2px); }
.hero-left-block .eth-icon {
  height: 17.8px;
  transform: translateY(4.9px); }
.hero-left-block .eth-cost {
  font-size: 9.72px;
  letter-spacing: 0.1px; }
.hero-left-block .eth-dollars {
  font-family: 'Rajdhani 400', sans-serif; }

.time {
  margin: 0 auto;
  width: 106.2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.right-block-title {
  margin: 4.4px 0 5px 9.3px;
  font-family: 'Rajdhani 600', sans-serif;
  opacity: 70%;
  font-size: 11.05px; }

.time__item .digit {
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px; }
.time__item .name {
  font-family: 'Rajdhani 500', sans-serif;
  font-size: 11.05px;
  opacity: 70%;
  margin-top: 3px;
  transform: translateX(-1.4px); }
  .time__item .name_modify {
    transform: translateX(1.1px); }
.time__item_modify {
  transform: translate(-1.5px, 0.6px); }

.btn-little-wrapper {
  margin-top: 29px;
  padding: 2.21px;
  width: 122px;
  height: 41.9px;
  border-radius: 2.21px;
  background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%); }

.btn-little-promo {
  background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  width: 100%;
  height: 100%;
  border-radius: 2.21px;
  border: none;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px;
  color: #ffffff;
  text-align: left;
  padding-left: 9.3px;
  position: relative; }
  .btn-little-promo:after {
    content: url("../assets/hero/arrow-little-promo.svg");
    width: 23px;
    position: absolute;
    top: 7.8px;
    right: 10px; }

@media (max-width: 1400px) {
  .promo-banner {
    margin-left: 10px; }

  .hero-descr {
    right: 0; } }
@media (max-width: 1000px) {
  .promo-banner {
    margin-top: 57px;
    margin-left: 0;
    min-width: 330px;
    height: 174.79px; }

  .hero-descr {
    right: -10.5px;
    bottom: -39px;
    background: url("../assets/hero/hero-promo-bg-modile.png") no-repeat;
    padding: 35.5px 30.5px 0 21.4px; }

  .img-banner {
    width: 100%;
    height: 100%;
    background: url("../assets/hero/hero-promo-mobile.png") no-repeat; }

  .hero-left-block-title {
    font-size: 17.05px; }

  .hero-left-block .email {
    margin-top: 8.6px; }
    .hero-left-block .email span {
      font-size: 14.92px;
      margin: 0 4px 0.8px 0.7px; }
  .hero-left-block .price {
    margin-top: 20px;
    margin-bottom: 6.3px; }

  .right-block-title {
    margin: 2.8px 0 5px 10.6px; }

  .time__item .name {
    margin-top: 2.6px;
    font-size: 10.66px;
    transform: translate(-0.2px, -1px); }
    .time__item .name_modify {
      transform: translate(2.4px, 0.3px); }

  .time {
    width: 102.9px; }

  .hero-left-block .eth-cost {
    font-size: 9.37px;
    line-height: 11.75px; }

  .btn-little-promo:after {
    top: 8.4px;
    right: 10.7px; }

  .hero-left-block .price {
    margin-top: 19.2px;
    margin-bottom: 1.8px; }

  .btn-little-wrapper {
    margin-top: 25.6px; } }
@media (max-width: 350px) {
  .hero {
    padding: 15px 0 0 0; }

  .promo-banner {
    min-width: 300px; }

  .hero-descr {
    width: 300px;
    right: -3px;
    padding: 35.5px 15px 0 10px; } }
.explore {
  display: none;
  width: 138px;
  height: 38px;
  margin-left: 96px;
  background: transparent url("../assets/explore-border.png") no-repeat;
  border: none; }

@media (max-width: 640px) {
  .explore {
    display: inline; }
    .explore-third {
      margin-left: 5px; }

  .explore-all {
    display: none; } }
* {
  box-sizing: border-box; }

.slider1 {
  margin: 200px 106.52px 0 109.44px; }

.swiper-first {
  margin-top: 50px; }

.card-swiper-first {
  width: 439px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap; }

.card-swiper-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 234px;
  padding: 42px 20px 0 28px;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.024));
  border: 2.88px solid;
  border-image: linear-gradient(150deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1; }

.card-swiper-info__left h4 {
  font-family: 'Rajdhani 700', sans-serif;
  font-size: 23.04px; }
.card-swiper-info__left .email {
  margin-top: 11px;
  font-size: 20.16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
.card-swiper-info__left .email-link {
  margin: 0 3px;
  font-family: "Rajdhani 600", sans-serif; }
.card-swiper-info__left h5 {
  margin-top: 27px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 14.4px;
  font-family: 'Rajdhani 600', sans-serif; }
.card-swiper-info__left .cost {
  margin-top: 5.3px;
  margin-left: -4.3px; }
  .card-swiper-info__left .cost .eth-icon {
    transform: translate(3px, 4.3px);
    width: 14.24px;
    height: 23.19px; }
.card-swiper-info__left .price {
  font-size: 12.66px;
  margin: 0 0.7px 0 7px; }
.card-swiper-info__left .digit {
  font-family: 'Rajdhani 400', sans-serif;
  font-size: 14.4px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 2.3px; }

.card-swiper-info__right h5 {
  margin: 4px 0 0 8px;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 14.4px;
  color: rgba(255, 255, 255, 0.2); }
.card-swiper-info__right .time {
  width: 88.7%;
  margin-top: 9.5px;
  margin-right: 8.6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }
  .card-swiper-info__right .time__item .clock {
    font-family: 'Rajdhani 600', sans-serif;
    font-size: 23.04px; }
  .card-swiper-info__right .time__item .time-name {
    font-family: 'Rajdhani 500', sans-serif;
    color: rgba(255, 255, 255, 0.2);
    transform: translateX(-1.6px); }
  .card-swiper-info__right .time__item_modify {
    transform: translate(-2.4px, 0px); }
.card-swiper-info__right .btn-border {
  margin-top: 37.2px;
  margin-right: 2px;
  padding: 2.88px;
  background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%);
  width: 160px;
  height: 51.66px; }
.card-swiper-info__right .btn-little {
  margin-right: 3px;
  height: 100%;
  width: 100%;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 23.04px;
  color: #ffffff;
  text-align: left;
  padding-left: 11px;
  background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  position: relative;
  border: none; }
  .card-swiper-info__right .btn-little:after {
    content: url("../assets/slider1/arrow.svg");
    position: absolute;
    right: 10px; }

@media (max-width: 1200px) {
  .slider1 {
    margin: 200px 0 0 50px; } }
@media (max-width: 640px) {
  .slider1 {
    margin: 140px 0 0 25px; }

  .swiper-first {
    margin-top: 36px;
    margin-bottom: 39.1px; }

  .card-swiper-first {
    width: 303px;
    position: relative; }

  .title-block h2 {
    font-size: 16px;
    line-height: 20.06px; }

  .view-all {
    display: none; }

  .card-swiper-info {
    padding: 32.8px 11.6px 0 18.1px;
    height: 166px; }

  .card-swiper-info__left .email {
    margin-top: 9.5px; }
    .card-swiper-info__left .email img[alt=avatar] {
      width: 26px; }
    .card-swiper-info__left .email img[alt=checked] {
      width: 11px; }
  .card-swiper-info__left h4 {
    font-size: 13.6px; }
  .card-swiper-info__left .email-link {
    margin: 0 3px;
    margin-right: 15px;
    font-size: 11.9px; }
  .card-swiper-info__left h5 {
    margin-top: 20px;
    font-size: 8.5px; }
  .card-swiper-info__left .cost {
    margin-top: -3.1px; }
  .card-swiper-info__left .price {
    font-size: 7.47px;
    margin: 0 5px 0 2.1px; }
  .card-swiper-info__left .digit {
    font-size: 8.5px; }

  .card-swiper-info__left .cost .eth-icon {
    transform: translate(1.2px, 9px); }

  .card-swiper-info__right h5 {
    font-size: 8.5px;
    margin: 2px 0 0 11.1px; }
  .card-swiper-info__right .btn-little:after {
    top: 9.6px; }
  .card-swiper-info__right .time {
    margin-top: 10.6px;
    width: 83.6%; }
    .card-swiper-info__right .time__item .clock {
      font-size: 13.6px; }
    .card-swiper-info__right .time__item .time-name {
      font-size: 8.5px; }
  .card-swiper-info__right .btn-border {
    margin-top: 28.4px;
    width: 112px;
    height: 37.5px; }
  .card-swiper-info__right .btn-little {
    width: 100%;
    height: 100%;
    font-size: 13.6px;
    padding-left: 7.2px; }
    .card-swiper-info__right .btn-little:after {
      content: url("../assets/slider1/arrow-mobile.svg");
      right: 5.5px; } }
.tabs-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 158px 144.11px 0 10.44px; }

.tads-title {
  font-size: 26.53px;
  margin-top: 54.4px;
  margin-left: 2.3px; }

.tabs-wrapper {
  margin-left: 95.4px; }

.tabs {
  max-width: 800px;
  margin-top: 43.5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  gap: 37.25px 36.5px; }
  .tabs__item {
    width: 375.92px;
    height: 105.99px;
    font-size: 26.53px;
    color: rgba(255, 255, 255, 0.5);
    background: url("../assets/tabs/border.png") no-repeat;
    background-size: 100% 100%;
    padding: 0; }
    .tabs__item:hover {
      color: #ffffff;
      background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%); }

.view {
  font-size: 19.9px;
  text-align: right;
  margin-top: 43.1px;
  margin-right: 84.7px;
  position: relative; }
  .view:after {
    content: url("../assets/tabs/arrow-all.svg");
    position: absolute;
    right: -70px; }

@media (max-width: 1470px) {
  .tabs {
    max-width: 530px;
    gap: 34px; }
    .tabs__item {
      width: 230px;
      height: 70px; } }
@media (max-width: 1200px) {
  .tabs-wrapper {
    margin-left: 40px; }

  .tabs-section {
    margin: 158px 48px 0 10.44px; } }
@media (max-width: 1070px) {
  .tabs__item {
    font-size: 20.53px; }

  .girl {
    width: 300px; } }
@media (max-width: 900px) {
  .tabs {
    max-width: 410px; }

  .tabs__item {
    font-size: 16.53px;
    width: 180px;
    height: 50px; } }
@media (max-width: 820px) {
  .tabs-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; } }
@media (max-width: 550px) {
  .tabs-section {
    margin: 50px 0 0 0; }

  .tads-title {
    font-size: 16px;
    margin-left: 15.3px; }

  .tabs-wrapper {
    margin: 0; }

  .tabs {
    max-width: 336.4px;
    margin-top: 20.5px;
    gap: 17.9px 18.7px;
    margin-left: 15px; }

  .tabs__item {
    font-size: 10.99px;
    width: 152.52px;
    height: 41.36px; }

  .view {
    font-size: 8.24px;
    margin-top: 19.7px;
    margin-right: 42.9px; }
    .view:after {
      content: url(../assets/tabs/arrow-all-mob.svg);
      right: -29px; }

  .girl {
    width: 185px;
    margin-top: 5px; } }
@media (max-width: 370px) {
  .tabs {
    max-width: 305px; }

  .tabs__item {
    width: 130px;
    height: 35px; } }
.slider2 {
  margin: 164.9px 106.52px 0 109.44px; }
  .slider2 .card-swiper-second {
    width: 437.76px;
    height: 565px; }
  .slider2 .card {
    background-image: url("../assets/slider2/top-bg.png"), linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.024));
    background-repeat: no-repeat;
    border: 2.88px solid;
    border-image: linear-gradient(150deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    text-align: center;
    padding-top: 100px; }
    .slider2 .card__name {
      margin-top: 8.5px;
      font-family: 'Rajdhani 500', sans-serif;
      font-size: 24.32px; }
    .slider2 .card__email {
      width: 117px;
      margin: 5.8px auto 0 auto;
      font-family: 'Rajdhani 400', sans-serif;
      color: #ffb1ee;
      font-size: 20.16px;
      position: relative; }
      .slider2 .card__email:after {
        content: url("../assets/slider2/checked.svg");
        position: absolute;
        top: 3.1px;
        right: -10px; }
    .slider2 .card__popular {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 33.5px auto 39px auto;
      width: 350px; }
    .slider2 .card .statistic {
      font-family: 'Rajdhani 600', sans-serif;
      font-size: 31.69px;
      margin-bottom: 2.5px; }
    .slider2 .card .folowers {
      font-family: 'Rajdhani 500', sans-serif;
      font-size: 19.81px;
      color: rgba(255, 255, 255, 0.7); }

.swiper-second {
  margin-top: 47.53px; }

@media (max-width: 1200px) {
  .slider2 {
    margin: 200px 0 0 50px; } }
@media (max-width: 640px) {
  .slider2 {
    margin: 112.8px 0 0 25px; }
    .slider2 h2 {
      font-size: 18.06px; }
    .slider2 .card-swiper-second {
      width: 303px;
      height: 393.5px; }
    .slider2 .card__popular {
      width: 290px; }
    .slider2 .card {
      background-image: url("../assets/slider2/top-bg-mob.png");
      padding-top: 70px; }
      .slider2 .card-avatar {
        width: 112.52px; }
      .slider2 .card__name {
        margin-top: 7px;
        font-size: 16.84px; }
      .slider2 .card__email {
        font-size: 13.96px;
        margin-top: 3px;
        width: 73.8px; }
        .slider2 .card__email:after {
          content: url(../assets/slider2/checked-mob.svg);
          top: 1.3px; }
      .slider2 .card__popular {
        margin-top: 24px;
        margin-bottom: 27px;
        width: 244px; }
      .slider2 .card .statistic {
        font-size: 21.94px;
        margin-bottom: 1.2px; }
      .slider2 .card .folowers {
        font-size: 13.71px; }

  .swiper-second {
    margin-top: 30.6px;
    margin-bottom: 40px; } }
.slider3 {
  margin: 161.6px 109.89px 0 109px;
  text-align: center; }

.slider3-title {
  font-size: 26.53px;
  max-width: 339px;
  margin: 0 auto;
  position: relative;
  transform: translateX(3.3px); }
  .slider3-title span {
    color: #ff56f6; }
    .slider3-title span:after {
      content: url("../assets/top-sellers/drobdown.svg");
      position: absolute;
      top: -2.2px;
      right: -15.5px; }

.slider3-descr {
  max-width: 500px;
  margin: 24.2px auto 0 auto;
  font-family: 'Roboto 400', sans-serif;
  text-align: center;
  font-size: 17.69px;
  line-height: 25.4px;
  transform: translateX(7.3px); }

.column {
  width: 437.04px;
  margin-bottom: 20px; }
  .column__item {
    margin-bottom: 34.26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 27.51px 20.29px 26.46px 18px;
    width: 100%;
    height: 123.81px;
    position: relative; }
    .column__item:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 28.57px;
      padding: 2.76px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0));
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude; }
  .column .column__info {
    text-align: left; }
    .column .column__info .name {
      font-family: 'Roboto 500', sans-serif;
      font-size: 19.05px;
      margin-left: 12px;
      margin-top: 5px; }
    .column .column__info .rate {
      font-family: 'Roboto 500', sans-serif;
      font-size: 13.76px;
      margin-left: 25px;
      margin-top: 16px;
      position: relative; }
      .column .column__info .rate:before {
        content: url("../assets/top-sellers/seller-eth-icon.svg");
        position: absolute;
        left: -14.2px; }
  .column .number {
    margin-top: 23px;
    margin-right: 17px;
    font-family: 'Roboto 500', sans-serif;
    font-size: 19.05px; }
    .column .number span {
      color: transparent; }
  .column .progress {
    margin-top: 24px;
    font-family: 'Roboto 500', sans-serif;
    font-size: 14.7px;
    height: 35.37px;
    width: 100.59px;
    border-radius: 17.52px;
    border: none; }
    .column .progress_green {
      color: #00ff66;
      background: linear-gradient(rgba(0, 178, 71, 0.42), rgba(73, 182, 73, 0.15));
      position: relative; }
      .column .progress_green:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 28.57px;
        padding: 1.13px;
        background: linear-gradient(315deg, rgba(0, 178, 71, 0.72), rgba(73, 182, 73, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude; }
    .column .progress_red {
      color: red;
      background: linear-gradient(rgba(235, 20, 20, 0.15), rgba(235, 20, 20, 0.1005));
      position: relative; }
      .column .progress_red:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 28.57px;
        padding: 1.13px;
        background: linear-gradient(315deg, rgba(178, 0, 0, 0.72), rgba(182, 73, 73, 0));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude; }
  .column__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap; }

.swiper-third {
  margin: 59.2px 0 24px 0; }

.wrapper-explore-all {
  text-align: center; }

@media (max-width: 1200px) {
  .slider3 {
    margin: 162px 0 10px 50px; } }
@media (max-width: 640px) {
  .swiper-third {
    margin: 25px 0 8px 29px; }

  .slider3 {
    margin: 106px 0 0 0; }

  .column {
    width: 316.8px; }

  .slider3-title {
    font-size: 19.23px;
    max-width: 241.19px;
    transform: translateX(-4.7px); }
    .slider3-title span:after {
      top: -3px;
      right: -14px; }

  .slider3-descr {
    font-size: 14px;
    max-width: 320px;
    line-height: 19.63px;
    margin-top: 19.6px;
    transform: translateX(-1.6px); }

  .column__wrap .number {
    font-size: 13.81px;
    margin-right: 13.6px;
    margin-top: 16.5px; }
  .column__wrap img {
    width: 50.63px;
    height: 50.63px;
    transform: translateY(-1px); }

  .column__item {
    height: 90.21px;
    padding: 21.51px 16px 0 11px;
    margin-bottom: 24.86px; }
    .column__item:before {
      border-radius: 23.27px; }

  .column .progress {
    font-size: 10.66px;
    margin-top: 17px;
    height: 25.57px;
    width: 70.09px; }

  .column .column__info .name {
    font-size: 13.81px; }

  .column .column__info .rate {
    font-size: 9.27px;
    margin-top: 11.3px;
    margin-left: 20.4px; }
    .column .column__info .rate:before {
      left: -12.6px;
      top: -1.5px; } }
@font-face {
  font-family: 'Inter800';
  src: url("../fonts/Inter-Bold.ttf"); }
@font-face {
  font-family: 'Inter400';
  src: url("../fonts/Inter-Regular.otf"); }
.info-block {
  width: 100%;
  min-height: 556.37px;
  background: url("../assets/info-question/question-back-bg.png");
  margin-top: 159.68px;
  position: relative; }
  .info-block .question {
    width: 577.05px;
    height: 473.14px;
    padding: 60px 47.39px 50.62px 76.31px;
    background: url("../assets/info-question/question-front-bg.png");
    position: absolute;
    right: 8.8%;
    bottom: -130.8px;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter800', sans-serif; }
    .info-block .question__title {
      font-size: 44.51px;
      line-height: 60.09px; }
    .info-block .question__descr {
      font-family: "Inter400", sans-serif;
      font-size: 20.03px;
      line-height: 35.61px;
      margin-top: 20.1px;
      margin-left: -2.3px; }
    .info-block .question__footer {
      font-weight: 500;
      line-height: 24px;
      margin-top: 44.16px; }
      .info-block .question__footer .learn {
        margin-right: 62.9px;
        letter-spacing: 0.6px; }
      .info-block .question__footer .watch {
        letter-spacing: 0.7px;
        position: relative; }
        .info-block .question__footer .watch:before {
          content: url("../assets/info-question/btn-play.svg");
          position: absolute;
          left: -22px;
          bottom: -4.8px; }

@media (max-width: 700px) {
  .info-block {
    margin-top: 103px;
    min-height: 300px; }
    .info-block .question {
      width: 335px;
      height: 275px;
      right: 50%;
      bottom: -33.2%;
      transform: translateX(50%);
      background: url("../assets/info-question/question-front-mobile.png");
      padding: 33.68px 27.54px 29.27px 40.69px; }
      .info-block .question__title {
        font-size: 25.87px;
        line-height: 34.92px; }
      .info-block .question__descr {
        font-size: 11.64px;
        line-height: 20.7px;
        margin-top: 9.3px; }
      .info-block .question__footer {
        margin-top: 21.76px;
        font-size: 10.35px; }
        .info-block .question__footer .learn {
          margin-right: 36.5px;
          letter-spacing: -0.4px; }
        .info-block .question__footer .watch {
          letter-spacing: normal; }
          .info-block .question__footer .watch:before {
            content: url(../assets/info-question/btn-play-mob.svg);
            left: -11.9px;
            bottom: -6.9px; } }
@media (max-width: 350px) {
  .info-block .question {
    padding: 21px 29px;
    width: 300px; } }
.subscribe {
  margin: 292.4px 0 0 110.55px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.bg-block-mob {
  display: none; }

.contact {
  max-width: 574px;
  padding: 31px 0 0 74px;
  font-size: 15.48px; }
  .contact__title {
    font-size: 39.8px;
    line-height: 49.9px; }
  .contact__descr {
    font-family: "Inter 400", sans-serif;
    font-size: 19.9px;
    line-height: 35.37px;
    margin-top: 28.5px;
    margin-left: 2.3px;
    letter-spacing: 0.1px; }
  .contact form {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap; }
  .contact input {
    font-family: "Inter 400", sans-serif;
    line-height: 26.53px;
    width: 274px;
    height: 53.06px;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    color: #474A57;
    padding-bottom: 5px; }
  .contact .button-overlay {
    width: 149.2px;
    height: 53px;
    font-family: "Inter 500", sans-serif;
    font-size: 15.48px;
    line-height: 22.11px;
    margin-left: 8px;
    padding: 2.41px;
    border: none;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%);
    position: relative; }
    .contact .button-overlay button {
      width: 100%;
      height: 100%;
      line-height: 22.11px;
      padding-bottom: 6px;
      padding-left: 4.4px;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border: transparent;
      background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%); }

@media (max-width: 1400px) {
  .subscribe {
    margin: 291px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap; }

  .contact {
    padding: 31px 25px 0 25px;
    margin-bottom: 107px; } }
@media (max-width: 600px) {
  .bg-block {
    display: none; }

  .bg-block-mob {
    display: block; }

  .subscribe {
    margin: 167px 0 0 0; }

  .contact__title {
    font-size: 26.27px; }
  .contact__descr {
    font-size: 13.14px;
    line-height: 23.35px;
    margin-top: 9.9px;
    letter-spacing: 0.015px; }
  .contact input {
    width: 180.5px;
    height: 35.5px;
    font-size: 10.22px;
    padding-left: 13.6px; }
  .contact .button-overlay {
    width: 96.3px;
    height: 36px;
    font-size: 10.22px;
    padding: 2.11px; }
    .contact .button-overlay button {
      padding-bottom: 5.5px; }
  .contact form {
    margin-top: 32px;
    font-size: 10.22px; } }
hr {
  height: 1.11px;
  opacity: 20%; }

.top {
  margin-bottom: 96px; }

.footer {
  margin: 156px 178.38px 0 82.91px; }
  .footer__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 27px; }
  .footer__logo {
    width: 222px;
    height: 26.81px;
    background: url("../assets/footer/footer-logo.png") no-repeat; }
  .footer__descr {
    max-width: 282.5px;
    font-size: 15.48px;
    line-height: 26.53px;
    margin: 34.7px 0 26.53px 0;
    letter-spacing: 0.1px;
    font-family: "Inter 400", sans-serif; }

.social-icon {
  width: 160px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.copyright {
  font-family: "Inter 400", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 15.48px;
  margin: 29.43px 0 27.4px -3px; }
  .copyright .condition {
    margin-right: 1.2px;
    margin-top: -2px; }
    .copyright .condition span.sitemap {
      padding: 0 3.9px 0 6.1px; }
    .copyright .condition span.policy {
      padding: 0 8.1px 0 4.7px; }

.left-block {
  margin-right: 90.4px; }

.right-block {
  margin-top: 3px;
  margin-bottom: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }
  .right-block__item {
    width: 176.87px;
    margin-right: 32.66px; }
    .right-block__item:last-child {
      margin-right: 0;
      width: 127.87px; }
  .right-block__title {
    font-family: 'Inter 500', sans-serif;
    font-size: 19.9px;
    line-height: 26.53px;
    margin-bottom: 19.7px; }
  .right-block li {
    font-family: 'Inter 400', sans-serif;
    font-size: 15.48px;
    margin-bottom: 13.1px;
    line-height: 26.53px; }
    .right-block li span {
      font-family: 'MuseoModerno', sans-serif;
      color: #2EC5CE;
      font-size: 22.11px;
      margin-left: 7px; }
  .right-block ul li:last-child {
    margin-bottom: 0; }

@media (max-width: 1500px) {
  .top {
    margin-bottom: 27px; }

  .footer {
    margin: 156px 50px 0 50px; }

  .right-block {
    margin-top: 3px;
    margin-bottom: 58px; }
    .right-block__item {
      width: 127.87px;
      margin-right: 33.16px; } }
@media (max-width: 1200px) {
  .footer__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }
  .footer__descr {
    max-width: 100%; }

  .left-block {
    margin-right: 0; }

  .social-icon {
    margin-bottom: 20.9px; } }
@media (max-width: 850px) {
  .footer {
    margin: 103px 25px 0 25px; }
    .footer .bottom {
      display: none; }

  .right-block {
    width: 100%;
    margin: 31.6px 0 -12.5px 4.1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }
    .right-block__item {
      margin-top: 7.2px;
      width: 100%;
      margin-right: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 14.7px; }
      .right-block__item:first-child {
        margin-top: 0; }
      .right-block__item:last-child {
        width: 100%; }
    .right-block__title {
      margin-bottom: 15.7px;
      position: relative;
      cursor: pointer; }
      .right-block__title:before, .right-block__title:after {
        content: '';
        width: 10.4px;
        height: 1.3px;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        transition: all .5s; }
      .right-block__title:before {
        transform: rotate(-40deg);
        right: 23.5px;
        top: 10.5px; }
      .right-block__title:after {
        transform: rotate(40deg);
        right: 31px;
        top: 10.5px; }
    .right-block__title.active-accordion:before, .right-block__title.active-accordion:after {
      background: #2EC5CE; }
    .right-block__title.active-accordion:before {
      transform: rotate(40deg); }
    .right-block__title.active-accordion:after {
      transform: rotate(-40deg); }
    .right-block__text {
      display: none; }

  .copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap; }
    .copyright .policy,
    .copyright .sitemap,
    .copyright .sitemap-t {
      display: none; }
    .copyright .condition {
      width: 296px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 3.8px;
      margin-top: -3.3px;
      padding-right: 17.6px; }
    .copyright .reserved {
      transform: translateY(-3.6px);
      letter-spacing: 0.05px; }
    .copyright div {
      margin-bottom: 51px; }
    .copyright:last-child {
      margin-bottom: 0; } }
.active-accordion {
  display: block; }

@media (max-width: 350px) {
  .footer {
    margin: 103px 15px 0 15px; }

  .copyright {
    font-size: 13.5px; }
    .copyright .condition {
      padding-right: 0; } }

/*# sourceMappingURL=style.css.map */
