@charset "UTF-8";
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  font-family: 'Orbitron 700', sans-serif; }

.body-active {
  overflow: hidden; }

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

button {
  cursor: pointer; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  background: url("../assets/bg-main.png");
  height: 6620px; }

/* orbitron-700 - latin */
@font-face {
  font-family: 'Orbitron 700';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/orbitron-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/orbitron-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/orbitron-v25-latin-700.woff2") format("woff2"), url("../fonts/orbitron-v25-latin-700.woff") format("woff"), url("../fonts/orbitron-v25-latin-700.ttf") format("truetype"), url("../fonts/orbitron-v25-latin-700.svg#Orbitron") format("svg");
  /* Legacy iOS */ }
/* league-spartan-600 - latin */
@font-face {
  font-family: 'League Spartan 600';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/league-spartan-v6-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/league-spartan-v6-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/league-spartan-v6-latin-600.woff2") format("woff2"), url("../fonts/league-spartan-v6-latin-600.woff") format("woff"), url("../fonts/league-spartan-v6-latin-600.ttf") format("truetype"), url("../fonts/league-spartan-v6-latin-600.svg#LeagueSpartan") format("svg");
  /* Legacy iOS */ }
/* rajdhani-500 - latin */
@font-face {
  font-family: 'Rajdhani 500';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rajdhani-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-500.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-500.woff") format("woff"), url("../fonts/rajdhani-v15-latin-500.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-500.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* rajdhani-regular - latin */
@font-face {
  font-family: 'Rajdhani 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rajdhani-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-regular.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-regular.woff") format("woff"), url("../fonts/rajdhani-v15-latin-regular.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-regular.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* rajdhani-600 - latin */
@font-face {
  font-family: 'Rajdhani 600';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rajdhani-v15-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-600.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-600.woff") format("woff"), url("../fonts/rajdhani-v15-latin-600.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-600.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* rajdhani-700 - latin */
@font-face {
  font-family: 'Rajdhani 700';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rajdhani-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rajdhani-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rajdhani-v15-latin-700.woff2") format("woff2"), url("../fonts/rajdhani-v15-latin-700.woff") format("woff"), url("../fonts/rajdhani-v15-latin-700.ttf") format("truetype"), url("../fonts/rajdhani-v15-latin-700.svg#Rajdhani") format("svg");
  /* Legacy iOS */ }
/* aldrich-regular - latin */
@font-face {
  font-family: 'Aldrich 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aldrich-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/aldrich-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/aldrich-v17-latin-regular.woff2") format("woff2"), url("../fonts/aldrich-v17-latin-regular.woff") format("woff"), url("../fonts/aldrich-v17-latin-regular.ttf") format("truetype"), url("../fonts/aldrich-v17-latin-regular.svg#Aldrich") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Alethia Next 300';
  /* not found font weight 400 */
  src: url("../fonts/AlethiaNext-Light.eot");
  src: local(""), url("../fonts/AlethiaNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlethiaNext-Light.woff2") format("woff2"), url("../fonts/AlethiaNext-Light.woff") format("woff"), url("../fonts/AlethiaNext-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto 500';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }
/* inter-regular - latin */
@font-face {
  font-family: 'Inter 400';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg");
  /* Legacy iOS */ }
/* inter-500 - latin */
@font-face {
  font-family: 'Inter 500';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter-v12-latin-500.woff") format("woff"), url("../fonts/inter-v12-latin-500.ttf") format("truetype"), url("../fonts/inter-v12-latin-500.svg#Inter") format("svg");
  /* Legacy iOS */ }
/* inter-800 - latin */
@font-face {
  font-family: 'Inter 800';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v12-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-800.woff2") format("woff2"), url("../fonts/inter-v12-latin-800.woff") format("woff"), url("../fonts/inter-v12-latin-800.ttf") format("truetype"), url("../fonts/inter-v12-latin-800.svg#Inter") format("svg");
  /* Legacy iOS */ }
.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 6; }
  .burger-menu__item {
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 50%; }

.first {
  position: absolute;
  top: 0;
  right: 0;
  transition: all .4s; }

.second {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  transform: translateY(-50%); }

.third {
  position: absolute;
  bottom: 0;
  transition: all .4s; }

.burger-menu_active > .first {
  top: 50%;
  transform: rotate(45deg); }

.burger-menu_active > .second {
  display: none; }

.burger-menu_active > .third {
  top: 50%;
  transform: rotate(-45deg); }

@media (max-width: 940px) {
  .burger-menu {
    display: block; } }
.header {
  padding: 48px 111px 0 109px;
  min-height: 195px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.navigation, .menu, .user-desktop, .user-mobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.navigation {
  width: 800px; }

.logо {
  width: 140.17px;
  height: 29.42px;
  background: url("../assets/header/logo.svg");
  position: relative;
  z-index: 5; }

.menu__li {
  margin-right: 66px; }
  .menu__li:last-child {
    margin-right: 0; }

.menu__link {
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  opacity: 60%; }

.user-desktop {
  width: 93px;
  margin-top: 6px; }

.user-mobile {
  display: none;
  width: 93px;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .header {
    padding: 48px 50px 0 50px; }

  .navigation {
    width: 650px; }

  .menu__li {
    margin-right: 46px; }

  .user-desktop {
    width: 70px; } }
@media (max-width: 940px) {
  .header {
    padding: 15px 15px 0 15px; }

  .navbar {
    position: fixed;
    background: #20083b;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    transform: translateX(100%);
    transition: transform .5s; }

  .navigation {
    width: auto; }

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 70px; }
    .menu__li {
      margin-right: 0; }

  .user-desktop {
    display: none; }

  .user-mobile {
    display: flex; } }
.navbar-active {
  transform: translateX(0); }

.hero {
  width: 100%;
  padding: 0 111px 0 102px; }

.promo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

h1 {
  max-width: 770px;
  font-family: 'League Spartan 600', sans-serif;
  font-size: 80px;
  line-height: 92px;
  color: #ffffff;
  letter-spacing: 2px; }
  h1 span {
    background: -webkit-linear-gradient(140deg, #43a5e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.descr {
  max-width: 650px;
  font-family: 'Rajdhani 400', sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 45px;
  margin: 17px 0 42px;
  letter-spacing: 1px; }

.btn-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap; }
  .btn-block span {
    background: -webkit-linear-gradient(140deg, #42a6e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-left: 36px; }

.btn-hero {
  background: url("../assets/hero/button-big-bg.svg");
  width: 250px;
  height: 65px;
  border: none;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding-left: 65px;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  .btn-hero div {
    margin-right: 10px;
    position: relative; }
    .btn-hero div:after {
      content: url("../assets/hero/arrow-big-promo.svg");
      width: 51px;
      margin: 10px;
      position: absolute;
      top: -40%; }

.statistics {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 70px; }
  .statistics__item {
    padding-left: 42px;
    padding-right: 19px;
    border-right: 1px solid rgba(255, 255, 255, 0.26); }
    .statistics__item:first-child {
      padding-left: 0; }
    .statistics__item:last-child {
      padding-right: 0;
      border-right: none; }
  .statistics .digit {
    font-family: 'Aldrich 400', sans-serif;
    font-size: 40px; }
  .statistics .text {
    font-family: 'Alethia Next 300', sans-serif;
    font-size: 16px;
    margin-top: 5px; }

@media (max-width: 1200px) {
  .hero {
    padding: 48px 50px 0 50px; } }
@media (max-width: 1000px) {
  .promo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }

  h1 {
    max-width: none;
    font-size: 60px;
    line-height: 92px;
    letter-spacing: 2px; }

  .statistics .digit {
    font-size: 30px; } }
@media (max-width: 940px) {
  .hero {
    padding: 15px 15px 0 15px; } }
@media (max-width: 700px) {
  h1 {
    font-size: 42px;
    line-height: 60px;
    letter-spacing: normal; }

  .descr {
    max-width: none;
    font-size: 20px;
    line-height: 35px;
    margin: 17px 0 42px;
    letter-spacing: normal; }

  .btn-hero {
    width: 133px;
    height: 34px;
    font-size: 12px;
    line-height: 15.05px;
    padding-left: 28px;
    letter-spacing: normal;
    background: url("../assets/hero/button-big-bg-mobile.png"); }
    .btn-hero div:after {
      content: url(../assets/hero/arrow-big-promo-mob.svg);
      margin: 6px; }

  .btn-block span {
    font-size: 12px;
    margin-bottom: 7px; }

  .statistics .digit {
    font-family: 'Aldrich 400', sans-serif;
    font-size: 18px; }
  .statistics .text {
    font-family: 'Alethia Next 300', sans-serif;
    font-size: 12px;
    margin-top: 5px; } }
.blockchain {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap; }
  .blockchain img {
    margin: 0 0 20px 9px; }

@media (max-width: 1200px) {
  .blockchain {
    gap: 30px; }
    .blockchain img {
      margin: 0 0 20px 0; } }
.promo-banner {
  position: relative;
  margin-top: 11px;
  margin-left: 9.5%;
  min-width: 403px;
  min-height: 480px;
  color: #ffffff; }

.hero-descr {
  width: 336.06px;
  height: 181.3px;
  background: url("../assets/hero/hero-promo-bg.png") no-repeat;
  position: absolute;
  bottom: -54px;
  right: -84px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 36px 20px 0 24px; }

.left-block-title {
  font-family: 'Rajdhani 700', sans-serif;
  font-size: 17.69px; }
.left-block .email, .left-block .price {
  font-family: 'Rajdhani 600', sans-serif; }
.left-block .email {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  .left-block .email span {
    margin: 0 2px; }
.left-block .price {
  margin-top: 20px;
  margin-bottom: 8px; }
.left-block .price, .left-block .eth-dollars {
  opacity: 70%;
  font-size: 11.05px; }
.left-block .eth-cost {
  font-size: 9.72px; }
.left-block .eth-dollars {
  font-family: 'Rajdhani 400', sans-serif; }

.time {
  margin: 0 auto;
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; }

.right-block-title {
  margin: 5px 0 5px 6px;
  font-family: 'Rajdhani 600', sans-serif;
  opacity: 70%;
  font-size: 11.05px; }

.time__item .digit {
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px; }
.time__item .name {
  font-family: 'Rajdhani 500', sans-serif;
  font-size: 11.05px;
  opacity: 70%; }

.btn-little-promo {
  height: 43px;
  width: 122px;
  border-radius: 2px;
  margin-top: 30px;
  border: 2px solid #FFA6FA;
  background: linear-gradient(140deg, #FFA6FA, #3C79D4);
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px;
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
  position: relative; }
  .btn-little-promo:after {
    content: url("../assets/hero/arrow-little-promo.svg");
    width: 23px;
    position: absolute;
    top: 9px;
    right: 10px; }

@media (max-width: 1200px) {
  .promo-banner {
    margin-left: 3%; }

  .hero-descr {
    right: 0; }

  .promo-banner {
    margin-top: 50px;
    margin-left: 0; } }
@media (max-width: 467px) {
  .promo-banner {
    min-width: 324px;
    min-height: 385px; } }

/*# sourceMappingURL=style.css.map */
