html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Orbitron 700', sans-serif;
}

.container {
  width: 1600px;
  margin: 0 auto;
  background: green;
}


@import "common/fonts";
@import "common/var";
@import "components/header";

