html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Orbitron 700', sans-serif;
  background: url("../assets/bg-main.png");
  background-size: cover;
  overflow-x: hidden;
}

.body-active {
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  color: #ffffff;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  color: #ffffff;
}


@import "common/fonts";
@import "common/mixins";
@import "common/burger";
@import "common/var";
@import "common/title";
@import "common/btn";
@import "components/header";
@import "components/hero";
@import "components/blockchain";
@import "components/hero-img";
@import "common/explore-btn";
@import "components/slider1";
@import "components/tabs";
@import "components/slider2";
@import "components/slider3";
@import "components/info-question";
@import "components/subscribe";
@import "components/footer";
