html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Orbitron 700', sans-serif;
}

ul, h1 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  background: url("../assets/bg-main.png");
  height: 6620px;
}


@import "common/fonts";
@import "common/mixins";
@import "common/burger";
@import "common/var";
@import "components/header";
@import "components/hero";
@import "components/blockchain";
@import "components/_hero-img";

