.blockchain {
  margin-top: 120px;
  @include flex(space-between, flex-end, row, wrap);
  img {
    margin: 0 0 20px 9px;
  }
}
.blockchain-modile {
  display: none;
  max-width: 308px;
  margin-top: 40px;
  .blackchain-binance {
    margin-bottom: 30px;
  }
  .blackchain-ethereum {
    margin-bottom: 30px;
    margin-right: 18px;
  }
  .blackchain-blockchain {
    margin-left: -15px;
  }
  .blackchain-bitmex {

  }
}

@media (max-width: 1000px) {
  .blockchain {
    display: none;
  }
  .blockchain-modile {
    @include flex(space-between, center, row, wrap);
  }
}


