.blockchain {
  margin-top: 125.1px;
  @include flex(space-between, flex-end, row, wrap);
  img {
    margin: 0 0 20px 9px;
  }
  .eth {
    transform: translate(-0.7px, 3px);
  }
  .blockchain {
    transform: translate(-0.1px, 1.7px);
  }
}
.blockchain-modile {
  display: none;
  max-width: 308px;
  margin-top: 39.9px;
  .blackchain-binance {
    margin-bottom: 31.3px;
    margin-left: -1px;
  }
  .blackchain-ethereum {
    margin-bottom: 30px;
    margin-right: 17.6px;
  }
  .blackchain-blockchain {
    margin-left: -12.8px;
  }
  .blackchain-bitmex {

  }
}

@media (max-width: 1000px) {
  .blockchain {
    display: none;
  }
  .blockchain-modile {
    @include flex(space-between, center, row, wrap);
  }
}


