.blockchain {
  margin-top: 123.8px;
  @include flex(space-between, flex-end, row, wrap);
  img {
    margin: 0 0 20px 9px;
  }
  .binance {
    transform: translate(-1.7px, -0.3px);
  }
  .eth {
    transform: translate(-1.1px, 4.3px);
  }
  .blockchain {
    transform: translate(0.6px, 3.7px);
  }
  .bitmex {
    transform: translate(1.5px, -0.1px);
  }

}

.blockchain-modile {
  display: none;
  max-width: 308px;
  margin-top: 39.9px;
  .blackchain-binance {
    margin-bottom: 31.3px;
    margin-left: -1px;
  }
  .blackchain-ethereum {
    margin-bottom: 30px;
    margin-right: 17.6px;
  }
  .blackchain-blockchain {
    transform: translate(0.4px, 3.6px);
  }
  .blackchain-bitmex {
    transform: translate(0.4px, 3.6px);
  }
}






@media (max-width: 1000px) {
  .blockchain {
    display: none;
  }
  .blockchain-modile {
    @include flex(space-between, center, row, wrap);
  }
}


