hr {
  height: 1.11px;
  opacity: 20%;
}
.top {
  margin-bottom: 96px;
}

.footer {
  margin: 156px 178.38px 0 82.91px;
  &__content {
    @include flex();
    margin-bottom: 27px;
  }
  &__logo {
    width: 222px;
    height: 26.81px;
    background: url("../assets/footer/footer-logo.png") no-repeat;
  }
  &__descr {
    max-width: 282.5px;
    font-size: 15.48px;
    line-height: 26.53px;
    margin: 34.7px 0 26.53px 0;
    letter-spacing: 0.1px;
    font-family: "Inter 400", sans-serif;
  }
}
.social-icon {
  width: 160px;
  height: 27px;
  @include flex(space-between)
}

.copyright {
  font-family: "Inter 400", sans-serif;
  @include flex(space-between);
  font-size: 15.48px;
  margin: 29.43px 0 27.4px -3px;
  .condition {
    margin-right: 1.2px;
    margin-top: -2px;
    span.sitemap {
      padding: 0 8.1px 0 6.1px;
    }
    span.policy {
      padding: 0 8.1px 0 4.7px;
    }
  }
}

.left-block {
  margin-right: 90.4px;
}

.right-block {
  margin-top: 3px;
  margin-bottom: 58px;
  @include flex();
  &__item {
    width: 176.87px;
    margin-right: 32.66px;
    &:last-child {
      margin-right: 0;
      width: 127.87px;
    }
  }

  &__title {
    font-family: 'Inter 500', sans-serif;
    font-size: 19.9px;
    line-height: 26.53px;
    margin-bottom: 19.7px;
  }
  li {
    font-family: 'Inter 400', sans-serif;
    font-size: 15.48px;
    margin-bottom: 13.1px;
    line-height: 26.53px;
    span {
      font-family: 'MuseoModerno', sans-serif;
      color: #2EC5CE;
      font-size: 22.11px;
      margin-left: 7px;
    }
  }
  ul {
    li:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1500px) {
  .top {
    margin-bottom: 27px;
  }
  .footer {
    margin: 156px 50px 0 50px;
  }
  .right-block {
    margin-top: 3px;
    margin-bottom: 58px;

    &__item {
      width: 127.87px;
      margin-right: 33.16px;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__content {
      @include flex(flex-start, center, column);
    }
    &__descr {
      max-width: 100%;
    }
  }
  .left-block {
    margin-right: 0;
  }
  .social-icon {
    margin-bottom: 20.9px;
  }
}

@media (max-width: 850px) {
  .footer {
    margin: 103px 25px 0 25px;
    &__descr {

    }
    .bottom {
      display: none;
    }
  }
  .right-block {
    width: 100%;
    margin: 31.6px 0 -12.5px 4.1px;
    @include flex(flex-start, center, column);
    &__item {
      margin-top: 7.2px;
      width: 100%;
      margin-right: 0;
      border-bottom: 1px solid rgba(256, 256, 256, 0.2);
      margin-bottom: 14.7px;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        width: 100%;
      }
    }
    &__title {
      margin-bottom: 15.7px;
      position: relative;
      cursor: pointer;
      &:before,
      &:after {
        content: '';
        width: 10.4px;
        height: 1.3px;
        background: rgba(256, 256, 256, .6);
        position: absolute;
        transition: all .5s;
      }
      &:before {
        transform: rotate(-40deg);
        right: 23.5px;
        top: 10.5px;
      }
      &:after {
        transform: rotate(40deg);
        right:  31px;
        top: 10.5px;
      }
    }
    &__title.active-accordion:before,
    &__title.active-accordion:after {
      background: #2EC5CE;
    }
    &__title.active-accordion:before {
      transform: rotate(40deg);
    }
    &__title.active-accordion:after {
      transform: rotate(-40deg);
    }

    &__text {
      display: none;
    }
  }
  .copyright {
    @include flex(flex-start, center, column-reverse);
    .policy,
    .sitemap,
    .sitemap-t {
      display: none;
    }
    .condition {
      width: 296px;
      @include flex(space-between);
      margin-left: 3.8px;
      margin-top: -3.3px;
      padding-right: 17.6px;
    }
    .reserved {
      transform: translateY(-3.6px);
      letter-spacing: 0.05px;
    }

    div {
      margin-bottom: 51px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.active-accordion {
    display: block;
}

@media (max-width: 350px) {
  .footer {
    margin: 103px 15px 0 15px;
  }
  .copyright {
    font-size: 13.5px;
    .condition {
      padding-right: 0;
    }
  }
}
