.header {
  padding: 48px 111px 0 109px;
  min-height: 195px;
  @include flex(space-between);
}

.navigation, .menu, .user {
  @include flex(space-between)
}

.navigation {
  width: 800px;
}

.menu__li {
  margin-right: 66px;
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  opacity: 60%;
}

.user {
  width: 93px;
  margin-top: 6px;
}


@media (max-width: 1200px) {
  .header {
    padding: 48px 50px 0 50px;
  }

  .navigation {
    width: 650px;
  }

  .menu__li {
    margin-right: 46px;
  }

  .user {
    width: 70px;
  }
}
