.header {
  padding: 48px 111px 0 109px;
  min-height: 195px;
  @include flex(space-between);
}

.navigation, .menu, .user-desktop, .user-mobile {
  @include flex(space-between)
}

.navigation {
  width: 800px;
}

.logо {
  width: 140.17px;
  height: 29.42px;
  background: url("../assets/header/logo.svg") no-repeat;
  position: relative;
  left: 7px;
  top: 8px;
  z-index: 5;
}

.menu__li {
  margin-right: 66px;
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  opacity: 60%;
}

.user-desktop {
  width: 93px;
  margin-top: 6px;
}

.user-mobile {
  display: none;
  width: 93px;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .header {
    padding: 48px 50px 0 50px;
  }

  .navigation {
    width: 650px;
  }

  .menu__li {
    margin-right: 46px;
  }

  .user-desktop {
    width: 70px;
  }
}

@media (max-width: 940px) {
  .header {
    padding: 15px 15px 0 15px;
    min-height: 90px;
  }
  .navbar {
    position: fixed;
    background: #20083b;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    transform: translateX(100%);
    transition: transform .5s;
  }

  .navigation {
    width: auto;
  }

  .menu {
    @include flex(flex-start, center, column);
    margin-top: 70px;
    &__li {
      margin-right: 0;
    }
  }

  .user-desktop {
    display: none;
  }

  .user-mobile {
    display: flex;
  }

  .logо {
    background: url("../assets/header/logo-mob.png") no-repeat;
  }
}

.navbar-active {
  transform: translateX(0);
}
