.header {
  padding: 48px 111px 0 109px;
  min-height: 195px;
  @include flex(space-between);
}

.navigation, .menu, .user-desktop, .user-mobile {
  @include flex(space-between)
}

.navigation {
  width: 800px;
}

.logо {
  width: 140.17px;
  height: 29.42px;
  background: url("../assets/header/logo.svg") no-repeat;
  position: relative;
  left: 2px;
  top: 2px;
  z-index: 5;
  transform: translate(-1.7px, -0.6px);
}

.menu__li {
  margin-right: 66px;
  &:first-child {
    transform: translate(-1.4px, 5.7px);
  }
  &_second {
    transform: translate(-0.4px, 5.7px);
  }
  &:last-child {
    margin-right: 0;
    transform: translate(0.2px, 5.7px);
  }
}

.menu__link {
  font-size: 19.9px;
  line-height: 24.95px;
  color: #ffffff;
  opacity: 60%;
}

.user-desktop {
  width: 93px;
  margin-top: 6px;
  .basket {
    width: 28.74px;
    height: 28.74px;
    transform: translate(1.3px, -0.6px);
  }
  .profile {
    width: 22.11px;
    height: 22.11px;
    transform: translate(-1.6px, 0.1px);
  }
}

.user-mobile {
  display: none;
  width: 93px;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .header {
    padding: 48px 50px 0 50px;
  }

  .navigation {
    width: 650px;
  }

  .menu__li {
    margin-right: 46px;
  }

  .user-desktop {
    width: 70px;
  }
}

@media (max-width: 940px) {
  .header {
    padding: 15px 15px 0 15px;
    min-height: 90px;
  }
  .navbar {
    position: fixed;
    background: #20083b;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    transform: translateX(100%);
    transition: transform .5s;
  }

  .navigation {
    width: auto;
  }

  .menu {
    @include flex(flex-start, center, column);
    margin-top: 70px;
    &__li {
      margin-right: 0;
    }
  }

  .user-desktop {
    display: none;
  }

  .user-mobile {
    display: flex;
  }

  .logо {
    width: 140.17px;
    height: 29.42px;
    background: url("../assets/header/logo-mob.png") no-repeat;
    position: relative;
    left: 2px;
    top: 2px;
    z-index: 5;
    transform: translate(6.1px, 6.1px);
  }
  .menu__li {
    &:first-child {
      transform: translate(0, 0);
    }
    &_second {
      transform: translate(0, 0);
    }
    &:last-child {
      margin-right: 0;
      transform: translate(0, 0);
    }
  }
}

.navbar-active {
  transform: translateX(0);
}
