.promo-banner {
  position: relative;
  margin-top: 11px;
  margin-left: 9.5%;
  min-width: 403px;
  min-height: 480px;
  color: #ffffff;
}

.hero-descr {
  width: 336.06px;
  height: 181.3px;
  background: url("../assets/hero/hero-promo-bg.png") no-repeat;
  position: absolute;
  bottom: -54px;
  right: -84px;
  @include flex(space-between);
  padding: 36px 20px 0 24px;
}

.left-block {
  &-title {
    font-family: 'Rajdhani 700', sans-serif;
    font-size: 17.69px;
  }
  .email, .price {
    font-family: 'Rajdhani 600', sans-serif;
  }
  .email {
    margin-top: 10px;
    @include flex(flex-start, center);
    span {
      margin: 0 2px;
    }
  }
  .price {
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .price, .eth-dollars {
    opacity: 70%;
    font-size: 11.05px;
  }
  .eth-cost {
    font-size: 9.72px;
  }
  .eth-dollars {
    font-family: 'Rajdhani 400', sans-serif;
  }
} // end left-block





//  RIGHT BLOCK
.time {
  margin: 0 auto;
  width: 105px;
  @include flex(space-between)
}
.right-block-title {
  margin: 5px 0 5px 6px;
  font-family: 'Rajdhani 600', sans-serif;
  opacity: 70%;
  font-size: 11.05px;
}

.time__item {
  .digit {
    font-family: 'Rajdhani 600', sans-serif;
    font-size: 17.69px;
  }
  .name {
    font-family: 'Rajdhani 500', sans-serif;
    font-size: 11.05px;
    opacity: 70%;
  }
}

.btn-little-promo {
  height: 43px;
  width: 122px;
  border-radius: 2px;
  margin-top: 30px;
  border: 2px solid #FFA6FA;
  background: linear-gradient(140deg, #FFA6FA, #3C79D4);
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px;
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
  position: relative;
  &:after {
    content: url("../assets/hero/arrow-little-promo.svg");
    width: 23px;
    //margin: 10px;
    position: absolute;
    top: 9px;
    right: 10px;
  }
}

@media (max-width: 1200px) {
  .promo-banner {
    margin-left: 3%;
  }
  .hero-descr {
    right: 0;
    width: 324px;
    height: 174px;
  }
  .promo-banner {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media (max-width: 467px) {
  .promo-banner {;
    min-width: 324px;
    min-height: 385px;
  }
}
