.promo-banner {
  position: relative;
  margin-top: 11px;
  margin-left: 9.5%;
  min-width: 403px;
  min-height: 480px;
  color: #ffffff;
}

.hero-descr {
  width: 336.06px;
  height: 181.3px;
  background: url("../assets/hero/hero-promo-bg.png") no-repeat;
  position: absolute;
  bottom: -48.5px;
  right: -63.8px;
  @include flex(space-between);
  padding: 34.9px 19.1px 0 24px;
  transform: translate(0px, 0px);
}

.img-banner {
  background: url("../assets/hero/hero-promo.png") no-repeat;
  width: 431.98px;
  height: 492.83px;
  margin: 2.9px 0 0 -4px;
  transform: translate(-0.2px, 1px);
}

.hero-left-block {
  &-title {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 17.69px;
    transform: translate(-1.5px, 1.4px);
  }
  .hero-descr-avatar {
    width: 30.74px;
    height: 28.74px;
    transform: translate(-2.2px, 0px);
  }
  .email, .price {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
  }
  .email {
    margin-top: 9.2px;
    font-size: 15.05px;
    @include flex(flex-start, center);
    span {
      transform: translate(0.8px, 1.1px);
    }
  }
  .hero-descr-checked {
    transform: translate(6.5px, 0.2px);
  }
  .price {
    margin-top: 20.8px;
    margin-bottom: 4.3px;
    transform: translate(-1.8px, 1.5px);
  }
  .price, .eth-dollars {
    opacity: 70%;
    font-size: 11.05px;
  }
  .eth {
    transform: translate(-8.2px, -1.4px);
  }
  .eth-icon {
    width: 19.44px;
    transform: translate(3.4px, 6.2px);
  }

  .eth-cost {
    font-size: 9.72px;

  }
  .eth-dollars {
    font-family: 'Rajdhani 400', sans-serif;
  }
} // end hero left-block





//  RIGHT BLOCK
.time {
  margin: 0 auto;
  width: 106.2px;
  @include flex(space-between)
}
.right-block-title {
  margin: 4.4px 0 5px 9.3px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  opacity: 70%;
  font-size: 11.05px;
  transform: translate(-0.9px, 0.9px);
}

.time__item {
  .digit {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 17.69px;
  }
  .name {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 11.05px;
    opacity: 70%;
    margin-top: 3px;
  }
}
.hero-digit_first {
  transform: translate(1px, 1.8px);
}
.hero-digit_second {
  transform: translate(-3px, 1.8px);
}
.hero-digit_third {
  transform: translate(-0.1px, 1.8px);
}
.hero-name_first {
  transform: translate(-2.3px, 0.9px);
}
.hero-name_second {
  transform: translate(-2.7px, 0.9px);
}
.hero-name_third {
  transform: translate(0.8px, 0.9px);
}

.btn-little-wrapper {
  transform: translate(-1.5px, 0px);
  margin-top: 29px;
  padding: 2.21px;
  width: 122px;
  height: 41.9px;
  border-radius: 2.21px;
  background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%);
  -webkit-filter: drop-shadow(0px 4.45px 45.25px rgba(255, 86, 246, 0.6));
  filter: drop-shadow(0px 4.45px 45.25px rgba(255, 86, 246, 0.6));
}

.btn-little-promo {
  @include placeBidBg();
  width: 100%;
  height: 100%;
  border-radius: 2.21px;
  border: none;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px;
  color: #ffffff;
  text-align: left;
  padding-left: 9.3px;
  position: relative;
  div {
    transform: translate(-0.1px, 0.6px);
  }
  &:after {
    content: url("../assets/hero/arrow-little-promo.svg");
    width: 23px;
    position: absolute;
    top: 7.8px;
    right: 10px;
  }
}

@media (max-width: 1400px) {
  .promo-banner {
    margin-left: 10px;
  }
  .hero-descr {
    right: 0;
  }
}


// This moment change position of banner
@media (max-width: 1000px) {
  .promo-banner {
    margin-top: 55.6px;
    margin-left: 0;
    width: 334px;
    height: 395px
  }
  .hero-descr {
    right: 25.8px;
    bottom: -40.3px;
    background: url("../assets/hero/hero-promo-bg-modile.png") no-repeat;
    padding: 33.85px 30.5px 0 22.05px;
    transform: translate(-1.2px, 1.2px);
  }
  .img-banner {
    width: 100%;
    height: 100%;
    background: url("../assets/hero/hero-promo-mobile.png") no-repeat;
    margin: 2px 0 0 0;
    transform: translate(35.05px, 1px);
  }
  .hero-left-block-title {
    font-size: 17.05px;
    transform: translate(0.3px, 1px);
  }
  .hero-left-block .hero-descr-avatar {
    width: 27.71px;
    height: 27.71px;
    transform: translate(0.5px, 0.3px);
  }

  .hero-left-block {
    .email {
      margin-top: 8.6px;
      span {
        font-size: 14.92px;
        margin: -1.15px -1.3px 0px 2.25px;
      }
    }
    .price {
      margin-top: 20px;
      margin-bottom: 6.3px;
    }
  }
  .hero-right-block {
    width: 122px;
    .hero-descr-checked {
      transform: translate(5.7px, 0.5px);
    }
  }
  .right-block-title {
    margin: 2.8px 0 5px 13.5px;
    font-size: 10.66px;
    transform: translate(-0.9px, 1.4px);
  }
  .time__item .name {
    margin-top: 2.6px;
    font-size: 10.66px;
  }
  .time {
    width: 102.9px;
  }
  .hero-left-block .eth-cost {
    font-size: 9.37px;
    line-height: 11.75px;
    margin-right: 2px;
  }

  .btn-little-promo {
    div {
      font-size: 17.0526px;
      transform: translate(0.1px, 0.2px);
    }
    &:after {
      top: 7.2px;
      right: 9.5px;
      width: 23px;
      content: url("../assets/hero/Photo-arrow-mobile.png");
    }
  }
  .hero-left-block .price {
    font-size: 10.66px;
    transform: translate(0.65px, 0.55px);
  }
  .hero-left-block .eth-dollars {
    font-size: 10.66px;
  }
  .hero-left-block .eth {
    transform: translate(-8.1px, -3.8px);
  }
  .hero-left-block .eth-icon {
    transform: translate(4.6px, 6px);
  }

  .btn-little-wrapper {
    margin-top: 28.6px;
    width: 119.1px;
    height: 40.15px;
    transform: translate(3px, 0.1px);
    border-radius: 4.03px;
  }

  .hero-digit_first {
    transform: translate(2px, 1.8px);
  }
  .hero-digit_second {
    transform: translate(-0.8px, 1.8px);
  }
  .hero-digit_third {
    transform: translate(1.3px, 1.8px);
  }
  .hero-name_first {
    transform: translate(0.7px, -0.2px);
  }
  .hero-name_second {
    transform: translate(-0.6px, -0.2px);
  }
  .hero-name_third {
    transform: translate(2.6px, -0.2px);
  }
}

@media (max-width: 350px) {
  .hero {
    padding: 15px 0 0 0;
  }
  .promo-banner {
    width: 300px;
  }
  .img-banner {
    transform: translate(32.2px, 0px);
  }
  .hero-descr {
    right: 27px;
    padding: 35.5px 15px 0 10px;
  }
}
