.hero {
  width: 100%;
  padding: 0 111px 0 101px;
}

.promo {
  @include flex()
}

h1 {
  max-width: 770px;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 66.33px;
  line-height: 91.13px;
  color: #ffffff;
  margin: 0 0 0 3.1px;
  letter-spacing: -0.05px;
  span {
    background: -webkit-linear-gradient(140deg, #43a5e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-spacing: 1px;
  }
}

.descr {
  max-width: 650px;
  font-family: 'Rajdhani 400', sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 44px;
  margin: 20.2px 0 40px 1.8px;
  letter-spacing: 1px;
}

.btn-block {
  @include flex(flex-start, flex-end);
  span {
    background: -webkit-linear-gradient(140deg, #42a6e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21.6px;
    margin-left: 35.4px;
  }
}


.btn-hero {
  width: 255px;
  height: 68.13px;
  background: url("../assets/hero/big-button-with-bg.svg") no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 4.45px 45.25px rgba(255, 86, 246, 0.6));
  filter: drop-shadow(0px 4.45px 45.25px rgba(255, 86, 246, 0.6));
  border-radius: 6px;
  color: #ffffff;
  padding-left: 65px;
  font-size: 19.9px;
  line-height: 24.95px;
}

.statistics {
color: #ffffff;
@include flex();
margin-top: 68.7px;
&__item {
padding-left: 42px;
padding-right: 19.4px;
border-right: 1px solid rgba(255, 255, 255, 0.26);
&:first-child {
  padding-left: 1px;
  padding-right: 18.4px;
}
&:last-child {
  padding-right: 0;
  border-right: none;
}
&_modify {
  .digit,
  .text {
    transform: translate(-5px, 0px);
  }
}
}

.digit {
font-family: 'Aldrich 400', sans-serif;
font-size: 40px;
}

.text {
font-family: 'Alethia Next 300', sans-serif;
font-size: 16px;
margin-top: 1.5px;
margin-left: 1.6px;
}
}

@media (max-width: 1200px) {
.hero {
padding: 48px 50px 0 50px;
}
}

@media (max-width: 1000px) {
.promo {
@include flex(flex-start, center, column, nowrap);
}

h1 {
max-width: none;
font-size: 60px;
line-height: 92px;
letter-spacing: 2px;
}

.statistics {
.digit {
  font-size: 30px;
}
}
}

@media (max-width: 940px) {
.hero {
padding: 15px 15px 0 15px;
}
}

@media (max-width: 700px) {
h1 {
font-family: "Lato 600", sans-serif;
line-height: 57.71px;
font-size: 42px;
letter-spacing: -1.9px;
margin: 0;
}
.descr {
max-width: none;
font-size: 20px;
line-height: 35px;
margin: 17px 0 42px;
letter-spacing: normal;
}
.btn-hero {
width: 135.6px;
height: 36.1px;
}

.btn-block {
span {
  font-size: 12px;
  margin-bottom: 7px;
}
}

.statistics {
.digit {
  font-family: 'Aldrich 400', sans-serif;
  font-size: 18px;
}

.text {
  font-family: 'Alethia Next 300', sans-serif;
  font-size: 12px;
  margin-top: 6px;
}
}
}

@media (max-width: 375px) {
h1 {
max-width: 290px;
margin: 1px 0 0 0;
}
.promo-text {
margin-left: 18px;
}
.descr {
margin: 25.7px 0 32.5px 0.1px;
font-size: 14px;
line-height: 23.22px;
transform: translateX(-1.1px);
}
.wrapper-btn-hero {
margin-left: -3px;
}

.btn-block {
span {
  margin-left: 20.1px;
  margin-bottom: 4.4px;
}
}

.statistics {
margin-top: 44.3px;
&__item {
  &:first-child {
    transform: translate(-3.6px, 0px);
  }
  &_modify {
    .digit,
    .text {
      transform: translate(1px, 0px);
    }
  }
}
}
}

.test {
width: 254.83px;
height: 68.12px;
}
