.hero {
  width: 100%;
  padding: 0 111px 0 101px;
}

.promo {
  @include flex()
}

h1 {
  max-width: 770px;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 66.13px;
  line-height: 91.13px;
  color: #ffffff;
  margin: 0 0 0 3.1px;
  letter-spacing: 0.15px;
  span {
    background: -webkit-linear-gradient(140deg, #43a5e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.descr {
  max-width: 650px;
  font-family: 'Rajdhani 400', sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 44px;
  margin: 20.2px 0 40px 1.8px;
  letter-spacing: 1px;
}

.btn-block {
  @include flex(flex-start, flex-end);
  span {
    background: -webkit-linear-gradient(140deg, #42a6e3, #ff56f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20.9px;
    margin-left: 35.4px;
  }
}


.wrapper-btn-hero {
  width: 255px;
  height: 69.3px;
  border-radius: 6px;
  padding: 2.88px;
  @include bgClipDesktop();
  background: linear-gradient(90deg, #FFA6FA 20%, #3C79D4 50%);
}

// it is left button hero block
.btn-hero {
  @include bgClipDesktop();
  background: linear-gradient(270deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  color: #ffffff;
  padding-left: 65px;
  letter-spacing: 1px;
  @include flex(flex-start, center);
  div {
    position: relative;
    font-size: 19.9px;
    line-height: 24.95px;
    padding-top: 3.5px;
    letter-spacing: 0.1px;
    &:after {
      content: url("../assets/hero/arrow-big-promo.svg");
      width: 51px;
      margin-left: 13px;
      position: absolute;
      top: 19.5%;
    }
  }
}


.statistics {
  color: #ffffff;
  @include flex();
  margin-top: 68.7px;
  &__item {
    padding-left: 42px;
    padding-right: 19px;
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  .digit {
    font-family: 'Aldrich 400', sans-serif;
    font-size: 40px;
  }

  .text {
    font-family: 'Alethia Next 300', sans-serif;
    font-size: 16px;
    margin-top: 1.5px;
    margin-left: 1.6px;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 48px 50px 0 50px;
  }
}

@media (max-width: 1000px) {
  .promo {
    @include flex(flex-start, center, column, nowrap);
  }

  h1 {
    max-width: none;
    font-size: 60px;
    line-height: 92px;
    letter-spacing: 2px;
  }

  .statistics {
    .digit {
      font-size: 30px;
    }
  }
}

@media (max-width: 940px) {
  .hero {
    padding: 15px 15px 0 15px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-family: "Lato 600", sans-serif;
    line-height: 57.71px;
    font-size: 42px;
    letter-spacing: -1.9px;
    margin: 0;
  }
  .descr {
    max-width: none;
    font-size: 20px;
    line-height: 35px;
    margin: 17px 0 42px;
    letter-spacing: normal;
  }
  .wrapper-btn-hero {
    width: 135.6px;
    height: 36.1px;
  }
  .btn-hero {
    padding-left: 26.3px;
    padding-bottom: 5px;
    div {
      position: relative;
      font-size: 12px;
      line-height: 15.05px;
      letter-spacing: normal;
      &:after {
        content: url(../assets/hero/arrow-little-promo.svg);
        margin: 1.6px 0 4.2px -3.1px;
      }
    }
  }

  .btn-block {
    span {
      font-size: 12px;
      margin-bottom: 7px;
    }
  }

  .statistics {
    .digit {
      font-family: 'Aldrich 400', sans-serif;
      font-size: 18px;
    }

    .text {
      font-family: 'Alethia Next 300', sans-serif;
      font-size: 12px;
      margin-top: 6px;
    }
  }
}

@media (max-width: 375px) {
  h1 {
    max-width: 290px;
    margin: 1px 0 0 0;
  }
  .promo-text {
    margin-left: 18px;
  }
  .descr {
    margin: 25.7px 0 32.5px 0.1px;
    font-size: 14px;
    line-height: 23.22px;
  }
  .wrapper-btn-hero {
    margin-left: -3px;
  }

  .btn-block {
    span {
      margin-left: 20.1px;
      margin-bottom: 4.4px;
    }
  }

  .statistics {
    margin-top: 44.3px;
  }
}

