.promo-banner {
  position: relative;
  margin-top: 11px;
  margin-left: 9.5%;
  min-width: 403px;
  min-height: 480px;
  color: #ffffff;
}

.hero-descr {
  width: 336.06px;
  height: 181.3px;
  background: url("../assets/hero/hero-promo-bg.png") no-repeat;
  position: absolute;
  bottom: -64px;
  right: -88.4px;
  @include flex(space-between);
  padding: 36px 19.1px 0 24px;
}

.img-banner {
  background: url("../assets/hero/hero-promo.png") no-repeat;
  width: 401.28px;
  height: 477.33px;
  margin: 2.9px 0 0 -4px
}




.hero-left-block {
  &-title {
    font-family: 'Rajdhani 700', sans-serif;
    font-size: 17.69px;
  }
  .email, .price {
    font-family: 'Rajdhani 600', sans-serif;
  }
  .email {
    margin-top: 9.2px;
    @include flex(flex-start, center);
    span {
      margin: 0 2.9px 0 0.4px;
    }
  }
  .price {
    margin-top: 20.8px;
    margin-bottom: 4.3px;
  }
  .price, .eth-dollars {
    opacity: 70%;
    font-size: 11.05px;
  }
  .eth-icon {
    width: 10.93px;
    height: 17.8px;
    transform: translateY(4.9px)
  }

  .eth-cost {
    font-size: 10.22px;
  }
  .eth-dollars {
    font-family: 'Rajdhani 400', sans-serif;
  }
} // end hero left-block





//  RIGHT BLOCK
.time {
  margin: 0 auto;
  width: 106.2px;
  @include flex(space-between)
}
.right-block-title {
  margin: 4.4px 0 5px 9.3px;
  font-family: 'Rajdhani 600', sans-serif;
  opacity: 70%;
  font-size: 11.05px;
}

.time__item {
  .digit {
    font-family: 'Rajdhani 600', sans-serif;
    font-size: 17.69px;
  }
  .name {
    font-family: 'Rajdhani 500', sans-serif;
    font-size: 11.05px;
    opacity: 70%;
    margin-top: 3px;
  }
}

.btn-little-wrapper {
  margin-top: 29px;
  padding: 2.21px;
  width: 122px;
  height: 41.9px;
  border-radius: 2.21px;
  background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%);
}

.btn-little-promo {
  @include placeBidBg();
  width: 100%;
  height: 100%;
  border-radius: 2.21px;
  border: none;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 17.69px;
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
  position: relative;
  &:after {
    content: url("../assets/hero/arrow-little-promo.svg");
    width: 23px;
    //margin: 10px;
    position: absolute;
    top: 9px;
    right: 10px;
  }
}

@media (max-width: 1400px) {
  .promo-banner {
    margin-left: 10px;
  }
  .hero-descr {
    right: 0;
  }
}


// This moment change position of banner
@media (max-width: 1000px) {
  .promo-banner {
    margin-top: 57px;
    margin-left: 0;
    min-width: 330px;
    height: 174.79px
  }
  .hero-descr {
    right: -10.5px;
    bottom: -39px;
    background: url("../assets/hero/hero-promo-bg-modile.png") no-repeat;
    padding: 35.5px 30.5px 0 21.4px;
  }
  .img-banner {
    width: 100%;
    height: 100%;
    background: url("../assets/hero/hero-promo-mobile.png") no-repeat;
  }
  .hero-left-block-title {
    font-size: 17.05px;
  }

  .left-block {
    .email {
      margin-top: 7.5px;
      span {
        margin: 0 1px;
      }
    }
    .price {
      margin-top: 20px;
      margin-bottom: 6.3px;
    }
  }

  .btn-little-wrapper {
    margin-top: 25.6px;
  }
}

@media (max-width: 350px) {
  .hero {
    padding: 15px 0 0 0;
  }
  .promo-banner {
    min-width: 300px;
  }
  .hero-descr {
    width: 300px;
    right: -3px;
    padding: 35.5px 15px 0 10px;
  }
}
