* {
  box-sizing: border-box;
}
.slider1 {
  margin: 200px 106.52px 0 109.44px;
}

.swiper-first {
  margin-top: 50px;
}

.card-swiper-first {
  width: 439px;
  @include flex(flex-start, flex-start, column);
}

// CARD WITH INFO UNDER PHOTO
.card-swiper-info {
  @include flex(space-between);
  width: 100%;
  height: 234px;
  padding: 42px 20px 0 28px;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.024));
  border: 2.88px solid;
  border-image: linear-gradient(150deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}


.card-swiper-info__left {
  h4 {
    font-family: 'Rajdhani 700', sans-serif;
    font-size: 23.04px;
  }

  .email {
    margin-top: 11px;
    font-size: 20.16px;
    @include flex(flex-start, center)
  }

  .email-link {
    margin: 0 3px;
    font-family: "Rajdhani 600", sans-serif;
  }
  h5 {
    margin-top: 27px;
    color: rgba(255, 255, 255, .2);
    font-size: 14.4px;
    font-family: 'Rajdhani 600', sans-serif;
  }

  .cost {
    margin-top: 5px;
    margin-left: -2.6px;
    .eth-icon {
      transform: translate(3px, 4.3px);
      width: 14.24px;
      height: 23.19px;
    }
  }

  .price {
    font-size: 12.66px;
    margin: 0 0.7px 0 7px
  }

  .digit {
    font-family: 'Rajdhani 400', sans-serif;
    font-size: 14.4px;
    color: rgba(255, 255, 255, .7);
  }
}



.card-swiper-info__right {
  h5 {
    margin: 4px 0 0 8px;
    font-family: 'Rajdhani 600', sans-serif;
    font-size: 14.4px;
    color: rgba(255, 255, 255, .2);
  }
  .time {
    width: 88.7%;
    margin-top: 9.5px;
    margin-right: 8.6px;
    @include flex(space-between);
    &__item {
      .clock {
        font-family: 'Rajdhani 600', sans-serif;
        font-size: 23.04px;
      }
      .time-name {
        font-family: 'Rajdhani 500', sans-serif;
        color: rgba(255, 255, 255, .2);
        //margin-left: 5px;
      }
    }
  }

  .btn-border {
    margin-top: 37.2px;
    margin-right: 2px;
    padding: 2.88px;
    background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%);
    width: 160px;
    height: 51.66px;
  }
  .btn-little {
    margin-right: 3px;
    height: 100%;
    width: 100%;
    font-family: 'Rajdhani 600', sans-serif;
    font-size: 23.04px;
    color: #ffffff;
    text-align: left;
    padding-left: 11px;
    @include placeBidBg();
    position: relative;
    border: none;
    &:after {
      content: url("../assets/slider1/arrow.svg");
      position: absolute;
      right: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .slider1 {
    margin: 200px 0 0 50px;
  }
}




@media (max-width: 640px) {
  .slider1 {
    margin: 140px 0 0 25px;
  }
  .swiper-first {
    margin-top: 36px;
    margin-bottom: 39.1px;
  }
  .card-swiper-first {
    width: 303px;
    position: relative;
  }

  .title-block {
    h2 {
      font-size: 16px;
      line-height: 20.06px;
    }
  }

  .view-all {
    display: none;
  }


  // CARD INFO UNDER PHOTO
  .card-swiper-info {
    padding: 32.8px 11.6px 0 18.1px;
    height: 166px;
  }
  .card-swiper-info__left {
    .email {
      margin-top: 9.5px;
      img[alt=avatar] {
        width: 26px;
      }
      img[alt=checked] {
        width: 11px;
      }
    }
    h4 {
      font-size: 13.6px;
    }
    .email-link {
      margin: 0 3px;
      margin-right: 15px;
      font-size: 11.9px;
    }
    h5 {
      margin-top: 20px;
      font-size: 8.5px;
    }
    .cost {
      margin-top: -3.1px;
    }
    .price {
      font-size: 7.47px;
      margin: 0 5px 0 2.1px;
    }
    .digit {
      font-size: 8.5px;
    }
  }
  .card-swiper-info__left .cost .eth-icon {
    transform: translate(1.2px, 9px);
  }
  .card-swiper-info__right {
    h5 {
      font-size: 8.5px;
      margin: 2px 0 0 11.1px;
    }
    .btn-little:after {
      top: 9.6px;
    }
    .time {
      margin-top: 10.6px;
      width: 83.6%;
      &__item {
        .clock {
          font-size: 13.6px;
        }
        .time-name {
          font-size: 8.5px;
        }
      }
    }

    .btn-border {
      margin-top: 28.4px;
      width: 112px;
      height: 37.5px;
    }
    .btn-little {
      width: 100%;
      height: 100%;
      font-size: 13.6px;
      padding-left: 7.2px;
      &:after {
        content: url("../assets/slider1/arrow-mobile.svg");
        right: 5.5px;
      }
    }
  }
}
