.slider2 {
  margin: 164.9px 106.52px 0 109.44px;
  .card-swiper-second {
    width: 437.76px;
    height: 565px;
  }

  .card {
    background-image: url("../assets/slider2/top-bg.png"), linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.024));
    background-repeat: no-repeat;
    border: 3px solid;
    border-image: linear-gradient(150deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    text-align: center;
    padding-top: 100px;

    img {
      transform: translate(0.7px, 1.6px);
    }

    &__name {
      margin-top: 8.5px;
      font-family: 'Rajdhani', sans-serif;
      font-weight: 500;
      font-size: 24.32px;
      transform: translate(1.1px);
    }

    &__email {
      width: 117px;
      margin: 7.3px auto 0 auto;
      font-family: 'Rajdhani', sans-serif;
      font-weight: 400;
      color: rgba(255, 177, 238, 1);
      font-size: 20.16px;
      position: relative;
      transform: translate(-1.3px, 0px);
      &:after {
        content: url("../assets/slider2/checked.svg");
        position: absolute;
        top: 2.4px;
        right: -11.1px;
      }
    }

    &__popular {
      @include flex(space-between);
      margin: 33.5px auto 39px auto;
      width: 350px;
    }

    .statistic-block {
      @include flex();
      font-family: 'Rajdhani', sans-serif;
      font-weight: 600;
      font-size: 31.69px;
      width: 323.9px;
      margin: 32px auto 2.5px auto;
    }
    .statistic_modify {
      margin-left: 4.3px;
    }
    .statistic:first-child {
      margin-right: 90.4px;
    }
    .statistic:last-child {
      margin-left: 97.9px;
    }
    .statistic_last {
      transform: translate(-3.2px, 0px);
    }


    .folowers-block {
      @include flex();
      font-family: 'Rajdhani', sans-serif;
      font-weight: 500;
      font-size: 19.8061px;
      color: rgba(255, 255, 255, .7);
      width: 100%;
      margin: 3.3px auto 38.1px auto;
      font-style: normal;
    }
    .folowers_modify1 {
      margin-left: 41.8px;
      margin-right: 65.9px;
      letter-spacing: -0.95px;
    }
    .folowers_modify2 {
      margin-left: 41.8px;
      margin-right: 64.4px;
      letter-spacing: -0.5px
    }
    .folowers:last-child {
      margin-left: 66.3px;
    }

  }
}

.swiper-second {
  margin-top: 47.53px;
}

@media (max-width: 1200px) {
  .slider2 {
    margin: 200px 0 0 50px;
  }
}

@media (max-width: 640px) {
  .slider2 {
    margin: 112.8px 0 0 25px;
    h2 {
      font-size: 18.06px;
    }

    .card-swiper-second {
      width: 303px;
      height: 393.5px;
    }

    .card__popular {
      width: 290px;
    }
    .card {
      background-image: url("../assets/slider2/top-bg-mob.png");
      padding-top: 70px;

      img {
        width: 112.82px;
        transform: translate(1.3px, 0.4px);
      }
      &-avatar {
        width: 112.52px;
      }
      &__name {
        margin-top: 5.9px;
        font-size: 16.84px;
      }
      &__email {
        font-size: 13.96px;
        margin-top: 3px;
        width: 73.8px;
        transform: translate(0px, 0px);
        &:after {
          content: url(../assets/slider2/checked-mob.svg);
          top: 1.3px;
        }
      }
      .statistic-block {
        width: 220.8px;
        font-size: 21.9417px;
        margin: 23.8px auto 2.5px auto;
      }
      .statistic:first-child {
        margin-right: 61.9px;
      }
      .statistic:last-child {
        margin-left: 67.5px;
      }
      .statistic_last {
        transform: translate(-3.2px, 0px);
      }


      .folowers-block {
        font-size: 13.7136px;
        margin: -0.7px auto 26.1px auto;
      }
      .folowers_modify1 {
        margin-left: 28px;
        margin-right: 46.5px;
        letter-spacing: -0.55px;
      }
      .folowers_modify2 {
        margin-left: 41.8px;
        margin-right: 64.4px;
        letter-spacing: -0.5px
      }
      .folowers:last-child {
        margin-left: 46.1px;
      }
    }
  }
  .swiper-second {
    margin-top: 30.6px;
    margin-bottom: 40px;
  }
}


