.slider2 {
  margin: 164.9px 106.52px 0 109.44px;
  .card-swiper-second {
    width: 437.76px;
    height: 565px;
  }

  .card {
    background-image: url("../assets/slider2/top-bg.png"), linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.024));
    background-repeat: no-repeat;
    border: 2.88px solid;
    border-image: linear-gradient(150deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    text-align: center;
    padding-top: 100px;

    &__name {
      margin-top: 8.5px;
      font-family: 'Rajdhani 500', sans-serif;
      font-size: 24.32px;
    }

    &__email {
      width: 117px;
      margin: 5.8px auto 0 auto;
      font-family: 'Rajdhani 400', sans-serif;
      color: rgba(255, 177, 238, 1);
      font-size: 20.16px;
      position: relative;
      &:after {
        content: url("../assets/slider2/checked.svg");
        position: absolute;
        top: 3.1px;
        right: -10px;
      }
    }

    &__popular {
      @include flex(space-between);
      margin: 33.5px auto 39px auto;
      width: 350px;
    }

    .statistic {
      font-family: 'Rajdhani 600', sans-serif;
      font-size: 31.69px;
      margin-bottom: 2.5px;
    }

    .folowers {
      font-family: 'Rajdhani 500', sans-serif;
      font-size: 19.81px;
      color: rgba(255, 255, 255, .7);
    }
  }
}

.swiper-second {
  margin-top: 47.53px;
}

@media (max-width: 1200px) {
  .slider2 {
    margin: 200px 0 0 50px;
  }
}

@media (max-width: 640px) {
  .slider2 {
    margin: 112.8px 0 0 25px;
    h2 {
      font-size: 18.06px;
    }

    .card-swiper-second {
      width: 303px;
      height: 393.5px;
    }

    .card__popular {
      width: 290px;
    }
    .card {
      background-image: url("../assets/slider2/top-bg-mob.png");
      padding-top: 70px;
      &-avatar {
        width: 112.52px;
      }
      &__name {
        margin-top: 7px;
        font-size: 16.84px;
      }
      &__email {
        font-size: 13.96px;
        margin-top: 3px;
        width: 73.8px;
        &:after {
          content: url(../assets/slider2/checked-mob.svg);
          top: 1.3px;
        }
      }
      &__popular {
        margin-top: 24px;
        margin-bottom: 27px;
        width: 244px;
      }
      .statistic {
        font-size: 21.94px;
        margin-bottom: 1.2px;
      }

      .folowers {
        font-size: 13.71px;
      }
    }
  }
  .swiper-second {
    margin-top: 30.6px;
    margin-bottom: 40px;
  }
}


