.slider3 {
  margin: 161.6px 109.89px 0 109px;
  text-align: center;
}

.slider3-title {
  font-size: 26.53px;
  max-width: 339px;
  margin: 0 auto;
  position: relative;
  transform: translate(4.4px, 1px);
  span {
    color: rgba(255, 86, 246, 1);
    &:after {
      content: url("../assets/top-sellers/dropdown-desk.png");
      position: absolute;
      top: -2.2px;
      right: -15.5px;
    }
  }
}

.slider3-descr {
  max-width: 500px;
  margin: 24.2px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 17.6873px;
  line-height: 25.4px;
  transform: translate(7.3px, 0.5px);
}

.column {
  width: 437.04px;
  margin-bottom: 20px;
  &__item {
    margin-bottom: 34.26px;
    @include flex(space-between);
    padding: 27.51px 20.29px 26.46px 18px;
    width: 100%;
    height: 123.81px;
    position: relative;
    &:before {
      @include border-gradient(28.57px, 2.76px, linear-gradient(135deg, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)));
    }
  }

  .column__info {
    text-align: left;
    .name {
      font-family: 'Roboto 500', sans-serif;
      font-size: 19.05px;
      margin-left: 12px;
      margin-top: 5px;
    }
    .rate {
      font-family: 'Roboto 500', sans-serif;
      font-size: 13.76px;
      margin-left: 25px;
      margin-top: 16px;
      position: relative;
      &:before {
        content: url("../assets/top-sellers/seller-eth-icon.svg");
        position: absolute;
        left: -14.2px;
      }
    }
  }

  .number {
    margin-top: 23px;
    margin-right: 17px;
    font-family: 'Roboto 500', sans-serif;
    font-size: 19.05px;
    span {
      color: transparent;
    }
  }

  .progress {
    margin-top: 24px;
    font-family: 'Roboto 500', sans-serif;
    font-size: 14.7px;
    height: 35.37px;
    width: 100.59px;
    border-radius: 17.52px;
    border: none;

    &_green {
      color: rgba(0, 255, 102, 1);
      background: linear-gradient(rgba(0, 178, 71, 0.42),
      rgba(73, 182, 73, 0.15));
      position: relative;
      &:before {
        @include border-gradient(28.57px, 1.13px, linear-gradient(315deg, rgba(0, 178, 71, 0.72), rgba(73, 182, 73, 0)));
      }
    }

    &_red {
      color: rgba(255, 0, 0, 1);
      background: linear-gradient(rgba(235, 20, 20, 0.15),
              rgba(235, 20, 20, 0.1005));
      position: relative;
      &:before {
        @include border-gradient(28.57px, 1.13px, linear-gradient(315deg, rgba(178, 0, 0, 0.72), rgba(182, 73, 73, 0)));
      }
    }
  }

  &__wrap {
    @include flex()
  }
}

.swiper-third {
  margin: 59.2px 0 24px 0;
}
.wrapper-explore-all {
  text-align: center;
}

@media (max-width: 1200px) {
  .slider3 {
    margin: 162px 0 10px 50px;
  }
}

@media (max-width: 640px) {
  .swiper-third {
    margin: 25px 0 8px 29px;
  }
  .slider3 {
    margin: 106px 0 0 0;
  }
  .column {
    width: 316.8px;
  }
  .slider3-title {
    font-size: 19.23px;
    max-width: 241.19px;
    transform: translateX(-4.7px);
    span {
      &:after {
        content: url("../assets/top-sellers/drobdown.svg");
        top: -3px;
        right: -14px;
      }
    }
  }
  .slider3-descr {
    font-size: 14px;
    max-width: 320px;
    line-height: 19.63px;
    margin-top: 19.6px;
    transform: translate(-1.6px, -0.8px);
  }
  .column__wrap {
    .number {
      font-size: 13.81px;
      margin-right: 13.6px;
      margin-top: 16.5px;
    }
    img  {
      width: 50.63px;
      height: 50.63px;
      transform: translateY(-1px);
    }
  }
  .column__item {
    height: 90.21px;
    padding: 21.51px 16px 0 11px;
    margin-bottom: 24.86px;
    &:before {
      border-radius: 23.27px;
    }
  }
  .column .progress {
    font-size: 10.66px;
    margin-top: 17px;
    height: 25.57px;
    width: 70.09px;
  }

  .column .column__info .name {
    font-size: 13.81px;
  }
  .column .column__info .rate {
    font-size: 9.27px;
    margin-top: 11.3px;
    margin-left: 20.4px;
    &:before {
      left: -12.6px;
      top: -1.5px;
    }
  }
}

