@font-face {
  font-family: 'Orbitron-700';
  src: url('../fonts/Orbitron-700.otf');
}

.subscribe {
  margin: 292.4px 0 0 110.55px;
  @include flex();
}
.bg-block-mob {
  display: none;
}

.contact {
  max-width: 574px;
  padding: 31px 0 0 74px;
  font-size: 15.48px;
  font-feature-settings: 'salt' on, 'liga' off;
  &__title {
    font-size: 39.8px;
    line-height: 49.9px;
    font-family: "Orbitron-700", sans-serif;
    transform: translate(1.3px, 2px);
  }
  &__descr {
    font-family: "Inter400", sans-serif;
    font-size: 19.9px;
    line-height: 35.37px;
    margin-top: 28.2px;
  }

  form {
    margin-top: 50px;
    @include flex();
  }

  input {
    font-family: "Inter400", sans-serif;
    line-height: 26.53px;
    width: 274px;
    height: 53.06px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    color: #474A57;
    padding-bottom: 3.3px;
    padding-left: 18.9px;
    font-size: 15.48px;
  }
  .button-overlay {
    width: 149.2px;
    height: 53px;
    font-family: "Inter 500", sans-serif;
    font-size: 15.48px;
    line-height: 22.11px;
    margin-left: 8px;
    padding: 2.41px;
    border: none;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background: linear-gradient(270deg, #ffa6fa 50%, #3c79d4 90%);
    position: relative;
    -webkit-filter: drop-shadow(0px 4.45px 45.25px rgba(255, 86, 246, 0.6));
    filter: drop-shadow(0px 4.45px 45.25px rgba(255, 86, 246, 0.6));
    button {
      width: 100%;
      height: 100%;
      line-height: 22.11px;
      padding-bottom: 5.1px;
      padding-left: 3.5px;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border: transparent;
      background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
    }
  }
}

@media (max-width: 1400px) {
  .subscribe {
    margin: 291px 0 0 0;
    @include flex(flex-start, center, column-reverse);
  }
  .contact {
    padding: 31px 25px 0 25px;
    margin-bottom: 107px;
  }
}

@media (max-width: 600px) {
  .bg-block {
    display: none;
  }
  .bg-block-mob {
    display: block;
  }
  .subscribe {
    margin: 167px 0 0 0;
  }
  .contact {
    &__title {
      font-size: 26.27px;
      transform: translate(0.5px, 1.3px);
    }
    &__descr {
      font-size: 13.14px;
      line-height: 23.35px;
      margin-top: 9.9px;
      letter-spacing: 0.015px;
    }

    input {
      width: 180.5px;
      height: 35.5px;
      font-size: 10.22px;
      padding-left: 11.8px;
      transform: translate(1px, -0.4px);
    }
    .button-overlay {
      width: 97.8px;
      height: 36px;
      font-size: 10.22px;
      padding: 1.59px;
      margin-left: 6.7px;
      border-radius: 0px 3.64865px 3.64865px 0px;
      transform: translate(-0.8px, -0.7px);
      button {
        padding-bottom: 3.6px;
        border-radius: 0px 3.64865px 3.64865px 0px;
      }
    }
    form {
      margin-top: 32px;
      font-size: 10.22px;
    }
  }
}


