
.tabs-section {
  @include flex(space-between);
  margin: 158px 144.11px 0 10.44px;
}

.tads-title {
  font-size: 26.53px;
  margin-top: 55px;
}

.tabs-wrapper {
  margin-left: 99px;
}

.tabs {
  max-width: 800px;
  margin-top: 47px;
  @include flex();
  flex-wrap: wrap;
  gap: 44px;
  &__item {
    width: 368.12px;
    height: 99.39px;
    font-size: 26.53px;
    color: rgba(255, 255, 255, 0.5);
    background: none;
    border: 2.88px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 166, 250),
            rgb(60, 121, 212)) 1;
  }
}

.tabs__item_active {
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg,
          rgba(255, 86, 246, 1),
          rgba(185, 54, 238, 1),
          rgba(59, 172, 226, 1),
          rgba(64, 106, 255, 1));
}

.view {
  font-size: 19.9px;
  text-align: right;
  margin-top: 46px;
  margin-right: 88px;
  position: relative;
  &:after {
    content: url("../assets/tabs/arrow-all.svg");
    position: absolute;
    right: -70px;
  }
}

@media (max-width: 1470px) {
  .tabs {
    max-width: 530px;
    gap: 34px;
    &__item {
      width: 230px;
      height: 70px;
    }
  }
}

@media (max-width: 1200px) {
  .tabs-wrapper {
    margin-left: 40px;
  }
  .tabs-section {
    margin: 158px 48px 0 10.44px;
  }

}

@media (max-width: 1070px) {
  .tabs__item {
    font-size: 20.53px;
  }
  .girl {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .tabs {
    max-width: 410px;
  }
  .tabs__item {
    font-size: 16.53px;
    width: 180px;
    height: 50px;
  }
}

@media (max-width: 820px) {
  .tabs-section {
    @include flex(flex-start, center, column);
  }
}

@media (max-width: 550px) {
  .tabs-section {
    margin: 48px 0 0 0;
  }
  .tads-title {
    font-size: 16px;
    margin-left: 15.3px;
  }
  .tabs-wrapper {
    margin: 0;
  }
  .tabs {
    max-width: 340px;
    margin-top: 21px;
    gap: 18.7px;
    margin-left: 15px;
  }
  .tabs__item {
    font-size: 10.99px;
    width: 152.52px;
    height: 40.76px;
  }

  .view {
    font-size: 8.24px;
    margin-top: 19.9px;
    margin-right: 44px;
    &:after {
      content: url(../assets/tabs/arrow-all-mob.svg);
      right: -29px;
    }
  }

  .girl {
    width: 185px;
  }
}

@media (max-width: 370px) {
  .tabs {
    max-width: 305px;
  }
  .tabs__item {
    width: 130px;
    height: 35px;
  }
}
