.btn {
  width: 239.5px;
  height: 56.3px;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 19.9px;
  background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  border: 3.12px solid transparent;
  border-image: linear-gradient(to left, rgb(255, 166, 250),
          rgb(60, 121, 212)) 1;
}

.btn-mr {
  margin-right: -8.5px;
}

.box-shadow {
  box-shadow: 0 4.45px 107px rgba(255, 86, 246, .5);
}

.wrapper-explore-all {
  transform: translateX(9.4px);
}

.view-all {
  cursor: pointer;
}

@media (max-width: 640px) {
  .btn {
    width: 166px;
    height: 40px;
    font-size: 13.78px;
  }
}

