.btn {
  width: 240px;
  height: 55px;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 19.9px;
  background: linear-gradient(90deg, #ff56f6 20%, #b936ee 50%, #3bace2 100%, #406aff 120%);
  border: 3.12px solid transparent;
  border-image: linear-gradient(to left, rgb(255, 166, 250),
          rgb(60, 121, 212)) 1;
}

.view-all {
  cursor: pointer;
}

@media (max-width: 640px) {
  .btn {
    width: 166px;
    height: 40px;
    font-size: 13.78px;
  }
}

