.btn {
  width: 240px;
  height: 55px;
  font-family: 'Rajdhani 600', sans-serif;
  font-size: 19.9px;
  background: linear-gradient(to right, rgba(255, 86, 246, 1),
  rgba(185, 54, 238, 1),
  rgba(59, 172, 226, 1),
  rgba(64, 106, 255, 1));
  border: 3.12px solid transparent;
  border-image: linear-gradient(to left, rgb(255, 166, 250),
          rgb(60, 121, 212)) 1;
}

@media (max-width: 640px) {
  .btn {
    width: 166px;
    height: 40px;
    font-size: 13.78px;
  }
}

