.explore-all {
  display: block;
}
.explore {
  display: none;
  width: 138px;
  height: 38px;
  margin-left: 96px;
  background: transparent url("../assets/explore-border.png") no-repeat;
  border: none;
}

@media (max-width: 640px) {
  .explore {
    display: inline;
    &-third {
      margin-left: 5px;
    }
  }
  .explore-all {
    display: none;
  }
}
