.title-block-slider1 {
  transform: translate(0px, 1.1px);
}

.title-block {
  width: 100%;
  @include flex(space-between);
  font-size: 26.53px;
  h2 {
    font-size: 26.53px;
  }
}
.view-all {
  margin-right: 80.7px;
  position: relative;
  &:after {
    content: url("../assets/slider1/arrow-right.svg");
    position: absolute;
    right: -58.7%;
    bottom: -2.9px;
  }
}
.view-all-slide1 {
  transform: translate(1px, 1.4px);
  &:after {
    right: -57.8%;
  }
}
